# Starting Spark Session

In [149]:
from pyspark.sql import SparkSession,functions, Window
from pyspark.sql.functions import *
from pyspark.sql.types import IntegerType,BooleanType,DateType, LongType,  DoubleType

# Creating a Spark Session called Cars

In [2]:
spark = SparkSession.builder.appName('Cars').getOrCreate()

In [3]:
spark

# Reading a file of CSV format into Spark DataFrame

In [4]:
pathArgCars = r'D:\My commercial projects\PySpark\Project 1 PySpark\Car Prices\argentina_cars.csv'
pathNigCars = r'D:\My commercial projects\PySpark\Project 1 PySpark\Car Prices\nigerian_cars.csv'
pathPolCars = r'D:\My commercial projects\PySpark\Project 1 PySpark\Car Prices\poland_cars.csv'
pathUsaCars = r'D:\My commercial projects\PySpark\Project 1 PySpark\Car Prices\usa_cars.csv'

In [5]:
df_pyspark_arg =spark.read.csv(pathArgCars,header=True,inferSchema=True)
df_pyspark_nig =  spark.read.csv(pathNigCars,header=True,inferSchema=True)
df_pyspark_pol = spark.read.csv(pathPolCars,header=True,inferSchema=True)
df_pyspark_usa = spark.read.csv(pathUsaCars,header=True,inferSchema=True)

In [6]:
df_pyspark_arg.show()

+--------+-------------+-------------+----+-----------+---------+----+----------+-------------+---------+----------+--------+
|   money|        brand|        model|year|      color|fuel_type|door|      gear|        motor|body_type|kilometres|currency|
+--------+-------------+-------------+----+-----------+---------+----+----------+-------------+---------+----------+--------+
|10350000|       Toyota|Corolla Cross|2022|   Plateado|    Nafta| 5.0|Automática|         null|      SUV|       500|   pesos|
|10850000|         Jeep|      Compass|2022|     Blanco|    Nafta| 5.0|Automática|          2.4|      SUV|       500|   pesos|
|   35500|         Jeep|      Compass|2022|Gris oscuro|    Nafta| 5.0|Automática|          2.4|      SUV|       500| dólares|
|   19000|      Citroën|    C4 Cactus|2022|Gris oscuro|    Nafta| 5.0|Automática|         null|      SUV|       550| dólares|
| 5800000|       Toyota|      Corolla|2019|       Gris|    Nafta| 4.0|    Manual|          1.8|    Sedán|      9000|   pesos|
|   34500|         Jeep|      Compass|2022|      Negro|    Nafta| 5.0|Automática|          1.3|      SUV|     10500| dólares|
|   25000|          Kia|      Sorento|2014|      Negro|   Diésel| 5.0|Automática|          2.2|      SUV|    156000| dólares|
|   12300|Mercedes-Benz|      Clase C|2008|   Plateado|    Nafta| 4.0|Automática|          1.8|    Sedán|    174000| dólares|
|   35500|          BMW|          220|2016|     Blanco|    Nafta| 2.0|Automática|        TURBO|    Coupé|     66000| dólares|
| 6800000|   Volkswagen|      T-Cross|2019|    Naranja|    Nafta| 5.0|Automática|1.6 MSI Nafta|      SUV|     35000|   pesos|
|   38500|Mercedes-Benz|      Clase A|2017|   Plateado|    Nafta| 5.0|Automática|            3|Hatchback|     55394| dólares|
|   20500|Mercedes-Benz|      Clase A|2013|     Blanco|    Nafta| 5.0|    Manual|          1.6|Hatchback|    162080| dólares|
| 3500000|      Renault|      Sandero|2022|   Plateado|    Nafta| 5.0|    Manual|         null|    Sedán|    111111|   pesos|
| 5990000|   Volkswagen|         Polo|2022|     Blanco|    Nafta| 5.0|    Manual|          1.6|Hatchback|    111111|   pesos|
|   41900|          BMW|      Serie 1|2020|      Negro|    Nafta| 5.0|Automática|         null|Hatchback|     34800| dólares|
| 2100000|         Ford|     Ecosport|2011|      Beige|    Nafta| 4.0|    Manual|          1.6|      SUV|    101000|   pesos|
|   38500|    Chevrolet|  Trailblazer|2019|       Gris|   Diésel| 5.0|Automática|         null|      SUV|     73000| dólares|
| 2940000|       Toyota|        Etios|2015|     Blanco|    Nafta| 5.0|    Manual|          1.5|Hatchback|     83000|   pesos|
| 2050000|      Renault|         Clio|2014|       Gris|    Nafta| 5.0|    Manual|          1.2|Hatchback|     99000|   pesos|
| 4120000|       Toyota|         RAV4|2011|       Gris|    Nafta| 5.0|Automática|          2.4|      SUV|    180000|   pesos|
+--------+-------------+-------------+----+-----------+---------+----+----------+-------------+---------+----------+--------+
only showing top 20 rows

In [7]:
df_pyspark_nig.show()

+---+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|_c0|         Make|Year of manufacture|    Condition|Mileage|Engine Size|  Fuel|Transmission|     Price|Build|
+---+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|  0|       Toyota|               2007|Nigerian Used| 166418|       2400|Petrol|   Automatic| 3,120,000| null|
|  1|        Lexus|               null|         null| 138024|       null|  null|   Automatic| 5,834,000| null|
|  2|Mercedes-Benz|               2008|Nigerian Used| 376807|       3000|Petrol|   Automatic| 3,640,000| null|
|  3|        Lexus|               null|         null| 213362|       null|  null|   Automatic| 3,594,000| null|
|  4|Mercedes-Benz|               null|         null| 106199|       null|  null|   Automatic| 8,410,000| null|
|  5|Mercedes-Benz|               null|         null|  87660|       null|  null|   Automatic| 5,554,000| null|
|  6|        Lexus|               null|         null| 191411|       null|  null|   Automatic| 3,706,000| null|
|  7|        Lexus|               null|         null|  59092|       null|  null|   Automatic| 8,410,000| null|
|  8|Mercedes-Benz|               null|         null|  89423|       null|  null|   Automatic| 6,506,000| null|
|  9|        Lexus|               null|         null| 184827|       null|  null|   Automatic| 4,000,000| null|
| 10|        Lexus|               null|         null|  42433|       null|  null|   Automatic| 8,970,000| null|
| 11|        Lexus|               null|         null| 116138|       null|  null|   Automatic| 3,034,000| null|
| 12|        Lexus|               null|         null| 167583|       null|  null|   Automatic| 3,818,000| null|
| 13|        Lexus|               null|         null| 240934|       null|  null|   Automatic| 3,930,000| null|
| 14|         Fiat|               null|         null|    114|       null|  null|   Automatic| 8,500,000| null|
| 15|         Fiat|               null|         null|     54|       null|  null|      Manual|12,500,000| null|
| 16|        Lexus|               null|         null|  79740|       null|  null|   Automatic| 5,274,000| null|
| 17|Mercedes-Benz|               null|         null| 338145|       null|  null|   Automatic| 8,060,000| null|
| 18|        Lexus|               null|         null| 174545|       null|  null|   Automatic| 6,506,000| null|
| 19|   Land Rover|               null|         null|  63296|       null|  null|   Automatic| 6,910,000| null|
+---+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
only showing top 20 rows

In [8]:
df_pyspark_pol.show()

+---+----+-----+---------------+----+-------+----------+------+---------------+-------------------+-----+
|_c0|mark|model|generation_name|year|mileage|vol_engine|  fuel|           city|           province|price|
+---+----+-----+---------------+----+-------+----------+------+---------------+-------------------+-----+
|  0|opel|combo|     gen-d-2011|2015| 139568|      1248|Diesel|          Janki|        Mazowieckie|35900|
|  1|opel|combo|     gen-d-2011|2018|  31991|      1499|Diesel|       Katowice|            Śląskie|78501|
|  2|opel|combo|     gen-d-2011|2015| 278437|      1598|Diesel|          Brzeg|           Opolskie|27000|
|  3|opel|combo|     gen-d-2011|2016|  47600|      1248|Diesel|      Korfantów|           Opolskie|30800|
|  4|opel|combo|     gen-d-2011|2014| 103000|      1400|   CNG|Tarnowskie Góry|            Śląskie|35900|
|  5|opel|combo|     gen-d-2011|2017| 121203|      1598|Diesel|       Warszawa|        Mazowieckie|51900|
|  6|opel|combo|     gen-d-2011|2017| 119965|      1248|Diesel|        Wrocław|       Dolnośląskie|44700|
|  7|opel|combo|     gen-d-2011|2016| 201658|      1248|Diesel|         Lublin|          Lubelskie|29000|
|  8|opel|combo|     gen-d-2011|2014| 178666|      1598|Diesel|         Złotów|      Wielkopolskie|28900|
|  9|opel|combo|     gen-d-2011|2015| 113000|      1248|Diesel|       Strzyżew|        Mazowieckie|34900|
| 10|opel|combo|     gen-d-2011|2012| 237000|      1598|Diesel|         Elbląg|Warmińsko-mazurskie|24800|
| 11|opel|combo|     gen-d-2011|2017| 137000|      1248|Diesel|       Warszawa|        Mazowieckie|39900|
| 12|opel|combo|     gen-d-2011|2016| 154000|      1248|Diesel|      Sosnowiec|            Śląskie|35900|
| 13|opel|combo|     gen-d-2011|2017|  59339|      1248|Diesel|        Wrocław|       Dolnośląskie|55300|
| 14|opel|combo|     gen-d-2011|2016| 137445|      1598|Diesel|          Opole|           Opolskie|34700|
| 15|opel|combo|     gen-d-2011|2016| 141859|      1248|Diesel|       Katowice|            Śląskie|39900|
| 16|opel|combo|     gen-d-2011|2012| 195000|      1598|Diesel|          Radom|        Mazowieckie|25900|
| 17|opel|combo|     gen-d-2011|2015| 180000|      1598|Diesel|       Chmieleń|       Dolnośląskie|32900|
| 18|opel|combo|     gen-d-2011|2018| 107515|      1499|Diesel|      Piaseczno|        Mazowieckie|62000|
| 19|opel|combo|     gen-d-2011|2017| 149000|      1598|Diesel|  Góra Kalwaria|        Mazowieckie|39852|
+---+----+-----+---------------+----+-------+----------+------+---------------+-------------------+-----+
only showing top 20 rows

In [9]:
df_pyspark_usa.show(20,5)

+----+-----+-----+-----+-----+------------+-----+-----+---------+--------+-----+--------+------+-----+------------+--------+
|year| make|model| trim| body|transmission|  vin|state|condition|odometer|color|interior|seller|  mmr|sellingprice|saledate|
+----+-----+-----+-----+-----+------------+-----+-----+---------+--------+-----+--------+------+-----+------------+--------+
|2015|  Kia|So...|   LX|  SUV|       au...|5x...|   ca|        5|   16...|white|   black| ki...|20500|       21500|   Tu...|
|2015|  Kia|So...|   LX|  SUV|       au...|5x...|   ca|        5|   93...|white|   beige| ki...|20800|       21500|   Tu...|
|2014|  BMW|3 ...|32...|Sedan|       au...|wb...|   ca|      4.5|   13...| gray|   black| fi...|31900|       30000|   Th...|
|2015|Volvo|  S60|   T5|Sedan|       au...|yv...|   ca|      4.1|   14...|white|   black| vo...|27500|       27750|   Th...|
|2014|  BMW|6 ...| 650i|Sedan|       au...|wb...|   ca|      4.3|   26...| gray|   black| fi...|66000|       67000|   Th...|
|2015|Ni...|Al...|2.5 S|Sedan|       au...|1n...|   ca|        1|   55...| gray|   black| en...|15350|       10900|   Tu...|
|2014|  BMW|   M5| Base|Sedan|       au...|wb...|   ca|      3.4|   14...|black|   black| th...|69000|       65000|   We...|
|2014|Ch...|Cruze|  1LT|Sedan|       au...|1g...|   ca|        2|   28...|black|   black| en...|11900|        9800|   Tu...|
|2014| Audi|   A4|2....|Sedan|       au...|wa...|   ca|      4.2|   95...|white|   black| au...|32100|       32250|   Th...|
|2014|Ch...|Ca...|   LT|Co...|       au...|2g...|   ca|        3|   48...|  red|   black| d/...|26300|       17500|   Tu...|
|2014| Audi|   A6|3....|Sedan|       au...|wa...|   ca|      4.8|   14...|black|   black| de...|47300|       49750|   Tu...|
|2015|  Kia|Op...|   LX|Sedan|       au...|5x...|   ca|      4.8|   20...|  red|     tan| ki...|15150|       17700|   Tu...|
|2015| Ford|Fu...|   SE|Sedan|       au...|3f...|   ca|        2|   55...|white|   beige| en...|15350|       12000|   Tu...|
|2015|  Kia|So...|   LX|  SUV|       au...|5x...|   ca|        5|   14...|si...|   black| ki...|20600|       21500|   Tu...|
|2014|Ch...|Cruze|  2LT|Sedan|       au...|1g...|   ca|     null|   15...| blue|   black| av...|13900|       10600|   Tu...|
|2015|Ni...|Al...|2.5 S|Sedan|       au...|1n...|   ca|        2|   11...|black|   black| en...|14750|       14100|   Tu...|
|2015|Hy...|So...|   SE|Sedan|        null|5n...|   ca|     null|   83...|  red|       —| av...|15200|        4200|   Tu...|
|2014| Audi|   Q5|2....|  SUV|       au...|wa...|   ca|      4.9|   79...|white|   black| au...|37100|       40000|   Th...|
|2014|Ch...|Ca...|   LS|Coupe|       au...|2g...|   ca|      1.7|   13...|black|   black| we...|17750|       17000|   Tu...|
|2014|  BMW|6 ...| 650i|Co...|       au...|wb...|   ca|      3.4|   88...|black|   black| th...|68000|       67200|   We...|
+----+-----+-----+-----+-----+------------+-----+-----+---------+--------+-----+--------+------+-----+------------+--------+
only showing top 20 rows

In [10]:
df_pyspark_usa.show(2,truncate=False)

+----+----+-------+----+----+------------+-----------------+-----+---------+--------+-----+--------+-----------------------+-----+------------+---------------------------------------+
|year|make|model  |trim|body|transmission|vin              |state|condition|odometer|color|interior|seller                 |mmr  |sellingprice|saledate                               |
+----+----+-------+----+----+------------+-----------------+-----+---------+--------+-----+--------+-----------------------+-----+------------+---------------------------------------+
|2015|Kia |Sorento|LX  |SUV |automatic   |5xyktca69fg566472|ca   |5        |16639.0 |white|black   |kia motors america, inc|20500|21500       |Tue Dec 16 2014 12:30:00 GMT-0800 (PST)|
|2015|Kia |Sorento|LX  |SUV |automatic   |5xyktca69fg561319|ca   |5        |9393.0  |white|beige   |kia motors america, inc|20800|21500       |Tue Dec 16 2014 12:30:00 GMT-0800 (PST)|
+----+----+-------+----+----+------------+-----------------+-----+---------+--------+-----+--------+-----------------------+-----+------------+---------------------------------------+
only showing top 2 rows

# Exploratory Data, Data Cleaning, Data Wrangling

## df_pyspark_arg

In [11]:
df_pyspark_arg.show(20,truncate=False)

+--------+-------------+-------------+----+-----------+---------+----+----------+-------------+---------+----------+--------+
|money   |brand        |model        |year|color      |fuel_type|door|gear      |motor        |body_type|kilometres|currency|
+--------+-------------+-------------+----+-----------+---------+----+----------+-------------+---------+----------+--------+
|10350000|Toyota       |Corolla Cross|2022|Plateado   |Nafta    |5.0 |Automática|null         |SUV      |500       |pesos   |
|10850000|Jeep         |Compass      |2022|Blanco     |Nafta    |5.0 |Automática|2.4          |SUV      |500       |pesos   |
|35500   |Jeep         |Compass      |2022|Gris oscuro|Nafta    |5.0 |Automática|2.4          |SUV      |500       |dólares |
|19000   |Citroën      |C4 Cactus    |2022|Gris oscuro|Nafta    |5.0 |Automática|null         |SUV      |550       |dólares |
|5800000 |Toyota       |Corolla      |2019|Gris       |Nafta    |4.0 |Manual    |1.8          |Sedán    |9000      |pesos   |
|34500   |Jeep         |Compass      |2022|Negro      |Nafta    |5.0 |Automática|1.3          |SUV      |10500     |dólares |
|25000   |Kia          |Sorento      |2014|Negro      |Diésel   |5.0 |Automática|2.2          |SUV      |156000    |dólares |
|12300   |Mercedes-Benz|Clase C      |2008|Plateado   |Nafta    |4.0 |Automática|1.8          |Sedán    |174000    |dólares |
|35500   |BMW          |220          |2016|Blanco     |Nafta    |2.0 |Automática|TURBO        |Coupé    |66000     |dólares |
|6800000 |Volkswagen   |T-Cross      |2019|Naranja    |Nafta    |5.0 |Automática|1.6 MSI Nafta|SUV      |35000     |pesos   |
|38500   |Mercedes-Benz|Clase A      |2017|Plateado   |Nafta    |5.0 |Automática|3            |Hatchback|55394     |dólares |
|20500   |Mercedes-Benz|Clase A      |2013|Blanco     |Nafta    |5.0 |Manual    |1.6          |Hatchback|162080    |dólares |
|3500000 |Renault      |Sandero      |2022|Plateado   |Nafta    |5.0 |Manual    |null         |Sedán    |111111    |pesos   |
|5990000 |Volkswagen   |Polo         |2022|Blanco     |Nafta    |5.0 |Manual    |1.6          |Hatchback|111111    |pesos   |
|41900   |BMW          |Serie 1      |2020|Negro      |Nafta    |5.0 |Automática|null         |Hatchback|34800     |dólares |
|2100000 |Ford         |Ecosport     |2011|Beige      |Nafta    |4.0 |Manual    |1.6          |SUV      |101000    |pesos   |
|38500   |Chevrolet    |Trailblazer  |2019|Gris       |Diésel   |5.0 |Automática|null         |SUV      |73000     |dólares |
|2940000 |Toyota       |Etios        |2015|Blanco     |Nafta    |5.0 |Manual    |1.5          |Hatchback|83000     |pesos   |
|2050000 |Renault      |Clio         |2014|Gris       |Nafta    |5.0 |Manual    |1.2          |Hatchback|99000     |pesos   |
|4120000 |Toyota       |RAV4         |2011|Gris       |Nafta    |5.0 |Automática|2.4          |SUV      |180000    |pesos   |
+--------+-------------+-------------+----+-----------+---------+----+----------+-------------+---------+----------+--------+
only showing top 20 rows

In [12]:
df_pyspark_arg.printSchema()

root
 |-- money: integer (nullable = true)
 |-- brand: string (nullable = true)
 |-- model: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- color: string (nullable = true)
 |-- fuel_type: string (nullable = true)
 |-- door: double (nullable = true)
 |-- gear: string (nullable = true)
 |-- motor: string (nullable = true)
 |-- body_type: string (nullable = true)
 |-- kilometres: integer (nullable = true)
 |-- currency: string (nullable = true)

### Dealing with null values

#### Using two methods:

In [13]:
df_pyspark_arg.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_pyspark_arg.columns]).show()

+-----+-----+-----+----+-----+---------+----+----+-----+---------+----------+--------+
|money|brand|model|year|color|fuel_type|door|gear|motor|body_type|kilometres|currency|
+-----+-----+-----+----+-----+---------+----+----+-----+---------+----------+--------+
|    0|    0|    0|   0|   11|        0|   0|   1|   11|        1|         0|       0|
+-----+-----+-----+----+-----+---------+----+----+-----+---------+----------+--------+

In [14]:
Dict_Null = {col:df_pyspark_arg.filter(df_pyspark_arg[col].isNull()).count() for col in df_pyspark_arg.columns}
Dict_Null

{'money': 0,
 'brand': 0,
 'model': 0,
 'year': 0,
 'color': 11,
 'fuel_type': 0,
 'door': 0,
 'gear': 1,
 'motor': 11,
 'body_type': 1,
 'kilometres': 0,
 'currency': 0}

#### Looking for null values in columns:

In [15]:
df_pyspark_arg.filter(df_pyspark_arg.color.isNull()).show()

+-------+----------+-----------+----+-----+---------+----+----------+-----+-----------+----------+--------+
|  money|     brand|      model|year|color|fuel_type|door|      gear|motor|  body_type|kilometres|currency|
+-------+----------+-----------+----+-----+---------+----+----------+-----+-----------+----------+--------+
|  16000|       BMW|         X5|2000| null|    Nafta| 5.0|    Manual|  4.4|        SUV|    132000| dólares|
|6300000|    Toyota|    Corolla|2018| null|    Nafta| 4.0|Automática|  1.8|      Sedán|     16500|   pesos|
|2890000|   Peugeot|        408|2013| null|    Nafta| 4.0|    Manual|  2.0|      Sedán|    129400|   pesos|
|3050000|   Renault|      Logan|2016| null|    Nafta| 4.0|    Manual|  1.6|      Sedán|     37300|   pesos|
|1690000| Chevrolet|      Celta|2013| null|    Nafta| 3.0|    Manual|  1.4|  Hatchback|    109000|   pesos|
|7500000|Volkswagen|     Sharan|2014| null|    Nafta| 5.0|Automática|  2.0|Monovolumen|     66000|   pesos|
|2750000|   Citroën|        DS3|2012| null|    Nafta| 3.0|    Manual|  1.6|  Hatchback|     95000|   pesos|
|8700000|   Citroën|      Jumpy|2022| null|   Diésel| 3.0|    Manual|  1.6|     Furgón|      1000|   pesos|
|2990000|Volkswagen|Suran Cross|2014| null|    Nafta| 5.0|    Manual|  1.6|Monovolumen|    120000|   pesos|
|1698000|      Ford|         Ka|2011| null|    Nafta| 3.0|    Manual|  1.6|  Hatchback|     97000|   pesos|
|1950000|   Peugeot|        504|1996| null|   Diésel| 4.0|    Manual|  2.3|      Sedán|     99000|   pesos|
+-------+----------+-----------+----+-----+---------+----+----------+-----+-----------+----------+--------+

In [16]:
df_pyspark_arg.filter(df_pyspark_arg.gear.isNull()).show()

+-----+------+-----+----+-----+---------+----+----+------------+---------+----------+--------+
|money| brand|model|year|color|fuel_type|door|gear|       motor|body_type|kilometres|currency|
+-----+------+-----+----+-----+---------+----+----+------------+---------+----------+--------+
|60000|Toyota|Hilux|2022|Negro|   Diésel| 4.0|null|2.8tdi 223cv|  Pick-Up|      4000| dólares|
+-----+------+-----+----+-----+---------+----+----+------------+---------+----------+--------+

In [17]:
df_pyspark_arg.filter(df_pyspark_arg.motor.isNull()).show()

+--------+---------+-------------+----+-----------+---------+----+----------+-----+---------+----------+--------+
|   money|    brand|        model|year|      color|fuel_type|door|      gear|motor|body_type|kilometres|currency|
+--------+---------+-------------+----+-----------+---------+----+----------+-----+---------+----------+--------+
|10350000|   Toyota|Corolla Cross|2022|   Plateado|    Nafta| 5.0|Automática| null|      SUV|       500|   pesos|
|   19000|  Citroën|    C4 Cactus|2022|Gris oscuro|    Nafta| 5.0|Automática| null|      SUV|       550| dólares|
| 3500000|  Renault|      Sandero|2022|   Plateado|    Nafta| 5.0|    Manual| null|    Sedán|    111111|   pesos|
|   41900|      BMW|      Serie 1|2020|      Negro|    Nafta| 5.0|Automática| null|Hatchback|     34800| dólares|
|   38500|Chevrolet|  Trailblazer|2019|       Gris|   Diésel| 5.0|Automática| null|      SUV|     73000| dólares|
| 2800000|     Fiat|        Bravo|2013|      Negro|    Nafta| 5.0|    Manual| null|Hatchback|    124000|   pesos|
|10200000|   Toyota|        Hilux|2022|      Negro|   Diésel| 4.0|    Manual| null|  Pick-Up|     21000|   pesos|
| 3150000|     Ford|       Fiesta|2016|       Rojo|    Nafta| 5.0|    Manual| null|Hatchback|     68000|   pesos|
|   23500|  Hyundai|      Genesis|2012|       Gris|    Nafta| 2.0|    Manual| null|    Coupé|    104270| dólares|
|   79900|  Porsche|     Panamera|2010|     Blanco|    Nafta| 4.0|Automática| null|    Sedán|     59141| dólares|
| 1760000|     Fiat|          Uno|2010|       Rojo|    Nafta| 5.0|    Manual| null|     null|    128000|   pesos|
+--------+---------+-------------+----+-----------+---------+----+----------+-----+---------+----------+--------+

In [18]:
df_pyspark_arg.filter(df_pyspark_arg.body_type.isNull()).show()

+-------+-----+-----+----+-----+---------+----+------+-----+---------+----------+--------+
|  money|brand|model|year|color|fuel_type|door|  gear|motor|body_type|kilometres|currency|
+-------+-----+-----+----+-----+---------+----+------+-----+---------+----------+--------+
|1760000| Fiat|  Uno|2010| Rojo|    Nafta| 5.0|Manual| null|     null|    128000|   pesos|
+-------+-----+-----+----+-----+---------+----+------+-----+---------+----------+--------+

#### Replacing  null values in columns:

In [19]:
df_pyspark_arg = df_pyspark_arg.na.fill(value='Not available', subset=['color','gear','motor','body_type'])

#### Verifying if there are still null values

In [20]:
Dict_Null = {col:df_pyspark_arg.filter(df_pyspark_arg[col].isNull()).count() for col in df_pyspark_arg.columns}
Dict_Null

{'money': 0,
 'brand': 0,
 'model': 0,
 'year': 0,
 'color': 0,
 'fuel_type': 0,
 'door': 0,
 'gear': 0,
 'motor': 0,
 'body_type': 0,
 'kilometres': 0,
 'currency': 0}

### Dealing with duplicate values

In [21]:
print("Count  of rows in dataframe: " + str(df_pyspark_arg.count()))

Count  of rows in dataframe: 510

In [22]:
print("Distinct Count of rows in dataframe: " + str(df_pyspark_arg.distinct().count()))

Distinct Count of rows in dataframe: 510

### Chaning the name of objects to english language

In [23]:
df_pyspark_arg.show()

+--------+-------------+-------------+----+-----------+---------+----+----------+-------------+---------+----------+--------+
|   money|        brand|        model|year|      color|fuel_type|door|      gear|        motor|body_type|kilometres|currency|
+--------+-------------+-------------+----+-----------+---------+----+----------+-------------+---------+----------+--------+
|10350000|       Toyota|Corolla Cross|2022|   Plateado|    Nafta| 5.0|Automática|Not available|      SUV|       500|   pesos|
|10850000|         Jeep|      Compass|2022|     Blanco|    Nafta| 5.0|Automática|          2.4|      SUV|       500|   pesos|
|   35500|         Jeep|      Compass|2022|Gris oscuro|    Nafta| 5.0|Automática|          2.4|      SUV|       500| dólares|
|   19000|      Citroën|    C4 Cactus|2022|Gris oscuro|    Nafta| 5.0|Automática|Not available|      SUV|       550| dólares|
| 5800000|       Toyota|      Corolla|2019|       Gris|    Nafta| 4.0|    Manual|          1.8|    Sedán|      9000|   pesos|
|   34500|         Jeep|      Compass|2022|      Negro|    Nafta| 5.0|Automática|          1.3|      SUV|     10500| dólares|
|   25000|          Kia|      Sorento|2014|      Negro|   Diésel| 5.0|Automática|          2.2|      SUV|    156000| dólares|
|   12300|Mercedes-Benz|      Clase C|2008|   Plateado|    Nafta| 4.0|Automática|          1.8|    Sedán|    174000| dólares|
|   35500|          BMW|          220|2016|     Blanco|    Nafta| 2.0|Automática|        TURBO|    Coupé|     66000| dólares|
| 6800000|   Volkswagen|      T-Cross|2019|    Naranja|    Nafta| 5.0|Automática|1.6 MSI Nafta|      SUV|     35000|   pesos|
|   38500|Mercedes-Benz|      Clase A|2017|   Plateado|    Nafta| 5.0|Automática|            3|Hatchback|     55394| dólares|
|   20500|Mercedes-Benz|      Clase A|2013|     Blanco|    Nafta| 5.0|    Manual|          1.6|Hatchback|    162080| dólares|
| 3500000|      Renault|      Sandero|2022|   Plateado|    Nafta| 5.0|    Manual|Not available|    Sedán|    111111|   pesos|
| 5990000|   Volkswagen|         Polo|2022|     Blanco|    Nafta| 5.0|    Manual|          1.6|Hatchback|    111111|   pesos|
|   41900|          BMW|      Serie 1|2020|      Negro|    Nafta| 5.0|Automática|Not available|Hatchback|     34800| dólares|
| 2100000|         Ford|     Ecosport|2011|      Beige|    Nafta| 4.0|    Manual|          1.6|      SUV|    101000|   pesos|
|   38500|    Chevrolet|  Trailblazer|2019|       Gris|   Diésel| 5.0|Automática|Not available|      SUV|     73000| dólares|
| 2940000|       Toyota|        Etios|2015|     Blanco|    Nafta| 5.0|    Manual|          1.5|Hatchback|     83000|   pesos|
| 2050000|      Renault|         Clio|2014|       Gris|    Nafta| 5.0|    Manual|          1.2|Hatchback|     99000|   pesos|
| 4120000|       Toyota|         RAV4|2011|       Gris|    Nafta| 5.0|Automática|          2.4|      SUV|    180000|   pesos|
+--------+-------------+-------------+----+-----------+---------+----+----------+-------------+---------+----------+--------+
only showing top 20 rows

#### Select unique values from column:

In [24]:
SelectUniqueValues = df_pyspark_arg.dropDuplicates(["color"]).select("color")
SelectUniqueValues.show(truncate=False)

print(SelectUniqueValues.dropDuplicates(["color"]).select("color").collect())

+-------------+
|color        |
+-------------+
|Naranja      |
|Not available|
|Violeta      |
|Celeste      |
|Beige        |
|Blanco       |
|Negro        |
|Azul         |
|Plateado     |
|Gris         |
|Rojo         |
|Gris oscuro  |
|Marrón       |
|Verde        |
|Dorado       |
+-------------+

[Row(color='Naranja'), Row(color='Not available'), Row(color='Violeta'), Row(color='Celeste'), Row(color='Beige'), Row(color='Blanco'), Row(color='Negro'), Row(color='Azul'), Row(color='Plateado'), Row(color='Gris'), Row(color='Rojo'), Row(color='Gris oscuro'), Row(color='Marrón'), Row(color='Verde'), Row(color='Dorado')]

In [25]:
df_pyspark_arg = df_pyspark_arg.withColumn("Color",
              when(df_pyspark_arg.color == 'Naranja', 'Orange')\
              .when(df_pyspark_arg.color == 'Violeta', 'Violet')\
              .when(df_pyspark_arg.color == 'Celeste', 'Celestial')\
              .when(df_pyspark_arg.color == 'Beige', 'Beige')\
              .when(df_pyspark_arg.color == 'Blanco', 'White')\
              .when(df_pyspark_arg.color == 'Negro', 'Black')\
              .when(df_pyspark_arg.color == 'Azul', 'Blue')\
              .when(df_pyspark_arg.color == 'Plateado', 'Silver')\
              .when(df_pyspark_arg.color == 'Gris', 'Gray')\
              .when(df_pyspark_arg.color == 'Rojo', 'Red')\
              .when(df_pyspark_arg.color == 'Gris oscuro', 'Dark gray')\
              .when(df_pyspark_arg.color == 'Marrón', 'Brown')\
              .when(df_pyspark_arg.color == 'Verde', 'Green')\
              .when(df_pyspark_arg.color == 'Dorado', 'Golden')\
              .otherwise('Not available'))

df_pyspark_arg.show()

+--------+-------------+-------------+----+---------+---------+----+----------+-------------+---------+----------+--------+
|   money|        brand|        model|year|    Color|fuel_type|door|      gear|        motor|body_type|kilometres|currency|
+--------+-------------+-------------+----+---------+---------+----+----------+-------------+---------+----------+--------+
|10350000|       Toyota|Corolla Cross|2022|   Silver|    Nafta| 5.0|Automática|Not available|      SUV|       500|   pesos|
|10850000|         Jeep|      Compass|2022|    White|    Nafta| 5.0|Automática|          2.4|      SUV|       500|   pesos|
|   35500|         Jeep|      Compass|2022|Dark gray|    Nafta| 5.0|Automática|          2.4|      SUV|       500| dólares|
|   19000|      Citroën|    C4 Cactus|2022|Dark gray|    Nafta| 5.0|Automática|Not available|      SUV|       550| dólares|
| 5800000|       Toyota|      Corolla|2019|     Gray|    Nafta| 4.0|    Manual|          1.8|    Sedán|      9000|   pesos|
|   34500|         Jeep|      Compass|2022|    Black|    Nafta| 5.0|Automática|          1.3|      SUV|     10500| dólares|
|   25000|          Kia|      Sorento|2014|    Black|   Diésel| 5.0|Automática|          2.2|      SUV|    156000| dólares|
|   12300|Mercedes-Benz|      Clase C|2008|   Silver|    Nafta| 4.0|Automática|          1.8|    Sedán|    174000| dólares|
|   35500|          BMW|          220|2016|    White|    Nafta| 2.0|Automática|        TURBO|    Coupé|     66000| dólares|
| 6800000|   Volkswagen|      T-Cross|2019|   Orange|    Nafta| 5.0|Automática|1.6 MSI Nafta|      SUV|     35000|   pesos|
|   38500|Mercedes-Benz|      Clase A|2017|   Silver|    Nafta| 5.0|Automática|            3|Hatchback|     55394| dólares|
|   20500|Mercedes-Benz|      Clase A|2013|    White|    Nafta| 5.0|    Manual|          1.6|Hatchback|    162080| dólares|
| 3500000|      Renault|      Sandero|2022|   Silver|    Nafta| 5.0|    Manual|Not available|    Sedán|    111111|   pesos|
| 5990000|   Volkswagen|         Polo|2022|    White|    Nafta| 5.0|    Manual|          1.6|Hatchback|    111111|   pesos|
|   41900|          BMW|      Serie 1|2020|    Black|    Nafta| 5.0|Automática|Not available|Hatchback|     34800| dólares|
| 2100000|         Ford|     Ecosport|2011|    Beige|    Nafta| 4.0|    Manual|          1.6|      SUV|    101000|   pesos|
|   38500|    Chevrolet|  Trailblazer|2019|     Gray|   Diésel| 5.0|Automática|Not available|      SUV|     73000| dólares|
| 2940000|       Toyota|        Etios|2015|    White|    Nafta| 5.0|    Manual|          1.5|Hatchback|     83000|   pesos|
| 2050000|      Renault|         Clio|2014|     Gray|    Nafta| 5.0|    Manual|          1.2|Hatchback|     99000|   pesos|
| 4120000|       Toyota|         RAV4|2011|     Gray|    Nafta| 5.0|Automática|          2.4|      SUV|    180000|   pesos|
+--------+-------------+-------------+----+---------+---------+----+----------+-------------+---------+----------+--------+
only showing top 20 rows

In [26]:
SelectUniqueValues = df_pyspark_arg.dropDuplicates(["fuel_type"]).select("fuel_type")
SelectUniqueValues.show(truncate=False)

print(SelectUniqueValues.dropDuplicates(["fuel_type"]).select("fuel_type").collect())

+-------------+
|fuel_type    |
+-------------+
|Nafta        |
|Nafta/GNC    |
|Diésel       |
|Híbrido/Nafta|
+-------------+

[Row(fuel_type='Nafta'), Row(fuel_type='Nafta/GNC'), Row(fuel_type='Diésel'), Row(fuel_type='Híbrido/Nafta')]

In [27]:
df_pyspark_arg = df_pyspark_arg.withColumn("Fuel_type",
              when(df_pyspark_arg.fuel_type  == 'Nafta', 'Naphtha')\
              .when(df_pyspark_arg.fuel_type  == 'Nafta/GNC', 'Naphtha/CNG')\
              .when(df_pyspark_arg.fuel_type  == 'Diésel', 'Diesel')\
              .when(df_pyspark_arg.fuel_type  == 'Híbrido/Nafta', 'Hybrid/Naphtha')\
              .otherwise('Not available'))

df_pyspark_arg.show()

+--------+-------------+-------------+----+---------+---------+----+----------+-------------+---------+----------+--------+
|   money|        brand|        model|year|    Color|Fuel_type|door|      gear|        motor|body_type|kilometres|currency|
+--------+-------------+-------------+----+---------+---------+----+----------+-------------+---------+----------+--------+
|10350000|       Toyota|Corolla Cross|2022|   Silver|  Naphtha| 5.0|Automática|Not available|      SUV|       500|   pesos|
|10850000|         Jeep|      Compass|2022|    White|  Naphtha| 5.0|Automática|          2.4|      SUV|       500|   pesos|
|   35500|         Jeep|      Compass|2022|Dark gray|  Naphtha| 5.0|Automática|          2.4|      SUV|       500| dólares|
|   19000|      Citroën|    C4 Cactus|2022|Dark gray|  Naphtha| 5.0|Automática|Not available|      SUV|       550| dólares|
| 5800000|       Toyota|      Corolla|2019|     Gray|  Naphtha| 4.0|    Manual|          1.8|    Sedán|      9000|   pesos|
|   34500|         Jeep|      Compass|2022|    Black|  Naphtha| 5.0|Automática|          1.3|      SUV|     10500| dólares|
|   25000|          Kia|      Sorento|2014|    Black|   Diesel| 5.0|Automática|          2.2|      SUV|    156000| dólares|
|   12300|Mercedes-Benz|      Clase C|2008|   Silver|  Naphtha| 4.0|Automática|          1.8|    Sedán|    174000| dólares|
|   35500|          BMW|          220|2016|    White|  Naphtha| 2.0|Automática|        TURBO|    Coupé|     66000| dólares|
| 6800000|   Volkswagen|      T-Cross|2019|   Orange|  Naphtha| 5.0|Automática|1.6 MSI Nafta|      SUV|     35000|   pesos|
|   38500|Mercedes-Benz|      Clase A|2017|   Silver|  Naphtha| 5.0|Automática|            3|Hatchback|     55394| dólares|
|   20500|Mercedes-Benz|      Clase A|2013|    White|  Naphtha| 5.0|    Manual|          1.6|Hatchback|    162080| dólares|
| 3500000|      Renault|      Sandero|2022|   Silver|  Naphtha| 5.0|    Manual|Not available|    Sedán|    111111|   pesos|
| 5990000|   Volkswagen|         Polo|2022|    White|  Naphtha| 5.0|    Manual|          1.6|Hatchback|    111111|   pesos|
|   41900|          BMW|      Serie 1|2020|    Black|  Naphtha| 5.0|Automática|Not available|Hatchback|     34800| dólares|
| 2100000|         Ford|     Ecosport|2011|    Beige|  Naphtha| 4.0|    Manual|          1.6|      SUV|    101000|   pesos|
|   38500|    Chevrolet|  Trailblazer|2019|     Gray|   Diesel| 5.0|Automática|Not available|      SUV|     73000| dólares|
| 2940000|       Toyota|        Etios|2015|    White|  Naphtha| 5.0|    Manual|          1.5|Hatchback|     83000|   pesos|
| 2050000|      Renault|         Clio|2014|     Gray|  Naphtha| 5.0|    Manual|          1.2|Hatchback|     99000|   pesos|
| 4120000|       Toyota|         RAV4|2011|     Gray|  Naphtha| 5.0|Automática|          2.4|      SUV|    180000|   pesos|
+--------+-------------+-------------+----+---------+---------+----+----------+-------------+---------+----------+--------+
only showing top 20 rows

In [28]:
SelectUniqueValues = df_pyspark_arg.dropDuplicates(["gear"]).select("gear")
SelectUniqueValues.show(truncate=False)

print(SelectUniqueValues.dropDuplicates(["gear"]).select("gear").collect())

+-------------+
|gear         |
+-------------+
|Not available|
|Manual       |
|Automática   |
+-------------+

[Row(gear='Not available'), Row(gear='Manual'), Row(gear='Automática')]

In [29]:
df_pyspark_arg = df_pyspark_arg.withColumn("gear",
              when(df_pyspark_arg.gear  == 'Manual', 'Manual')\
              .when(df_pyspark_arg.gear  == 'Automática', 'Automatic')\
              .otherwise('Not available'))

df_pyspark_arg.show()

+--------+-------------+-------------+----+---------+---------+----+---------+-------------+---------+----------+--------+
|   money|        brand|        model|year|    Color|Fuel_type|door|     gear|        motor|body_type|kilometres|currency|
+--------+-------------+-------------+----+---------+---------+----+---------+-------------+---------+----------+--------+
|10350000|       Toyota|Corolla Cross|2022|   Silver|  Naphtha| 5.0|Automatic|Not available|      SUV|       500|   pesos|
|10850000|         Jeep|      Compass|2022|    White|  Naphtha| 5.0|Automatic|          2.4|      SUV|       500|   pesos|
|   35500|         Jeep|      Compass|2022|Dark gray|  Naphtha| 5.0|Automatic|          2.4|      SUV|       500| dólares|
|   19000|      Citroën|    C4 Cactus|2022|Dark gray|  Naphtha| 5.0|Automatic|Not available|      SUV|       550| dólares|
| 5800000|       Toyota|      Corolla|2019|     Gray|  Naphtha| 4.0|   Manual|          1.8|    Sedán|      9000|   pesos|
|   34500|         Jeep|      Compass|2022|    Black|  Naphtha| 5.0|Automatic|          1.3|      SUV|     10500| dólares|
|   25000|          Kia|      Sorento|2014|    Black|   Diesel| 5.0|Automatic|          2.2|      SUV|    156000| dólares|
|   12300|Mercedes-Benz|      Clase C|2008|   Silver|  Naphtha| 4.0|Automatic|          1.8|    Sedán|    174000| dólares|
|   35500|          BMW|          220|2016|    White|  Naphtha| 2.0|Automatic|        TURBO|    Coupé|     66000| dólares|
| 6800000|   Volkswagen|      T-Cross|2019|   Orange|  Naphtha| 5.0|Automatic|1.6 MSI Nafta|      SUV|     35000|   pesos|
|   38500|Mercedes-Benz|      Clase A|2017|   Silver|  Naphtha| 5.0|Automatic|            3|Hatchback|     55394| dólares|
|   20500|Mercedes-Benz|      Clase A|2013|    White|  Naphtha| 5.0|   Manual|          1.6|Hatchback|    162080| dólares|
| 3500000|      Renault|      Sandero|2022|   Silver|  Naphtha| 5.0|   Manual|Not available|    Sedán|    111111|   pesos|
| 5990000|   Volkswagen|         Polo|2022|    White|  Naphtha| 5.0|   Manual|          1.6|Hatchback|    111111|   pesos|
|   41900|          BMW|      Serie 1|2020|    Black|  Naphtha| 5.0|Automatic|Not available|Hatchback|     34800| dólares|
| 2100000|         Ford|     Ecosport|2011|    Beige|  Naphtha| 4.0|   Manual|          1.6|      SUV|    101000|   pesos|
|   38500|    Chevrolet|  Trailblazer|2019|     Gray|   Diesel| 5.0|Automatic|Not available|      SUV|     73000| dólares|
| 2940000|       Toyota|        Etios|2015|    White|  Naphtha| 5.0|   Manual|          1.5|Hatchback|     83000|   pesos|
| 2050000|      Renault|         Clio|2014|     Gray|  Naphtha| 5.0|   Manual|          1.2|Hatchback|     99000|   pesos|
| 4120000|       Toyota|         RAV4|2011|     Gray|  Naphtha| 5.0|Automatic|          2.4|      SUV|    180000|   pesos|
+--------+-------------+-------------+----+---------+---------+----+---------+-------------+---------+----------+--------+
only showing top 20 rows

In [30]:
SelectUniqueValues = df_pyspark_arg.dropDuplicates(["currency"]).select("currency")
SelectUniqueValues.show(truncate=False)

print(SelectUniqueValues.dropDuplicates(["currency"]).select("currency").collect())

+--------+
|currency|
+--------+
|dólares |
|pesos   |
+--------+

[Row(currency='dólares'), Row(currency='pesos')]

In [31]:
df_pyspark_arg = df_pyspark_arg.withColumn("currency",
              when(df_pyspark_arg.currency  == 'dólares', 'Dollars')\
              .when(df_pyspark_arg.currency  == 'pesos', 'Pesos')\
              .otherwise('Not available'))

df_pyspark_arg.show()

+--------+-------------+-------------+----+---------+---------+----+---------+-------------+---------+----------+--------+
|   money|        brand|        model|year|    Color|Fuel_type|door|     gear|        motor|body_type|kilometres|currency|
+--------+-------------+-------------+----+---------+---------+----+---------+-------------+---------+----------+--------+
|10350000|       Toyota|Corolla Cross|2022|   Silver|  Naphtha| 5.0|Automatic|Not available|      SUV|       500|   Pesos|
|10850000|         Jeep|      Compass|2022|    White|  Naphtha| 5.0|Automatic|          2.4|      SUV|       500|   Pesos|
|   35500|         Jeep|      Compass|2022|Dark gray|  Naphtha| 5.0|Automatic|          2.4|      SUV|       500| Dollars|
|   19000|      Citroën|    C4 Cactus|2022|Dark gray|  Naphtha| 5.0|Automatic|Not available|      SUV|       550| Dollars|
| 5800000|       Toyota|      Corolla|2019|     Gray|  Naphtha| 4.0|   Manual|          1.8|    Sedán|      9000|   Pesos|
|   34500|         Jeep|      Compass|2022|    Black|  Naphtha| 5.0|Automatic|          1.3|      SUV|     10500| Dollars|
|   25000|          Kia|      Sorento|2014|    Black|   Diesel| 5.0|Automatic|          2.2|      SUV|    156000| Dollars|
|   12300|Mercedes-Benz|      Clase C|2008|   Silver|  Naphtha| 4.0|Automatic|          1.8|    Sedán|    174000| Dollars|
|   35500|          BMW|          220|2016|    White|  Naphtha| 2.0|Automatic|        TURBO|    Coupé|     66000| Dollars|
| 6800000|   Volkswagen|      T-Cross|2019|   Orange|  Naphtha| 5.0|Automatic|1.6 MSI Nafta|      SUV|     35000|   Pesos|
|   38500|Mercedes-Benz|      Clase A|2017|   Silver|  Naphtha| 5.0|Automatic|            3|Hatchback|     55394| Dollars|
|   20500|Mercedes-Benz|      Clase A|2013|    White|  Naphtha| 5.0|   Manual|          1.6|Hatchback|    162080| Dollars|
| 3500000|      Renault|      Sandero|2022|   Silver|  Naphtha| 5.0|   Manual|Not available|    Sedán|    111111|   Pesos|
| 5990000|   Volkswagen|         Polo|2022|    White|  Naphtha| 5.0|   Manual|          1.6|Hatchback|    111111|   Pesos|
|   41900|          BMW|      Serie 1|2020|    Black|  Naphtha| 5.0|Automatic|Not available|Hatchback|     34800| Dollars|
| 2100000|         Ford|     Ecosport|2011|    Beige|  Naphtha| 4.0|   Manual|          1.6|      SUV|    101000|   Pesos|
|   38500|    Chevrolet|  Trailblazer|2019|     Gray|   Diesel| 5.0|Automatic|Not available|      SUV|     73000| Dollars|
| 2940000|       Toyota|        Etios|2015|    White|  Naphtha| 5.0|   Manual|          1.5|Hatchback|     83000|   Pesos|
| 2050000|      Renault|         Clio|2014|     Gray|  Naphtha| 5.0|   Manual|          1.2|Hatchback|     99000|   Pesos|
| 4120000|       Toyota|         RAV4|2011|     Gray|  Naphtha| 5.0|Automatic|          2.4|      SUV|    180000|   Pesos|
+--------+-------------+-------------+----+---------+---------+----+---------+-------------+---------+----------+--------+
only showing top 20 rows

In [32]:
df_pyspark_arg.show()

+--------+-------------+-------------+----+---------+---------+----+---------+-------------+---------+----------+--------+
|   money|        brand|        model|year|    Color|Fuel_type|door|     gear|        motor|body_type|kilometres|currency|
+--------+-------------+-------------+----+---------+---------+----+---------+-------------+---------+----------+--------+
|10350000|       Toyota|Corolla Cross|2022|   Silver|  Naphtha| 5.0|Automatic|Not available|      SUV|       500|   Pesos|
|10850000|         Jeep|      Compass|2022|    White|  Naphtha| 5.0|Automatic|          2.4|      SUV|       500|   Pesos|
|   35500|         Jeep|      Compass|2022|Dark gray|  Naphtha| 5.0|Automatic|          2.4|      SUV|       500| Dollars|
|   19000|      Citroën|    C4 Cactus|2022|Dark gray|  Naphtha| 5.0|Automatic|Not available|      SUV|       550| Dollars|
| 5800000|       Toyota|      Corolla|2019|     Gray|  Naphtha| 4.0|   Manual|          1.8|    Sedán|      9000|   Pesos|
|   34500|         Jeep|      Compass|2022|    Black|  Naphtha| 5.0|Automatic|          1.3|      SUV|     10500| Dollars|
|   25000|          Kia|      Sorento|2014|    Black|   Diesel| 5.0|Automatic|          2.2|      SUV|    156000| Dollars|
|   12300|Mercedes-Benz|      Clase C|2008|   Silver|  Naphtha| 4.0|Automatic|          1.8|    Sedán|    174000| Dollars|
|   35500|          BMW|          220|2016|    White|  Naphtha| 2.0|Automatic|        TURBO|    Coupé|     66000| Dollars|
| 6800000|   Volkswagen|      T-Cross|2019|   Orange|  Naphtha| 5.0|Automatic|1.6 MSI Nafta|      SUV|     35000|   Pesos|
|   38500|Mercedes-Benz|      Clase A|2017|   Silver|  Naphtha| 5.0|Automatic|            3|Hatchback|     55394| Dollars|
|   20500|Mercedes-Benz|      Clase A|2013|    White|  Naphtha| 5.0|   Manual|          1.6|Hatchback|    162080| Dollars|
| 3500000|      Renault|      Sandero|2022|   Silver|  Naphtha| 5.0|   Manual|Not available|    Sedán|    111111|   Pesos|
| 5990000|   Volkswagen|         Polo|2022|    White|  Naphtha| 5.0|   Manual|          1.6|Hatchback|    111111|   Pesos|
|   41900|          BMW|      Serie 1|2020|    Black|  Naphtha| 5.0|Automatic|Not available|Hatchback|     34800| Dollars|
| 2100000|         Ford|     Ecosport|2011|    Beige|  Naphtha| 4.0|   Manual|          1.6|      SUV|    101000|   Pesos|
|   38500|    Chevrolet|  Trailblazer|2019|     Gray|   Diesel| 5.0|Automatic|Not available|      SUV|     73000| Dollars|
| 2940000|       Toyota|        Etios|2015|    White|  Naphtha| 5.0|   Manual|          1.5|Hatchback|     83000|   Pesos|
| 2050000|      Renault|         Clio|2014|     Gray|  Naphtha| 5.0|   Manual|          1.2|Hatchback|     99000|   Pesos|
| 4120000|       Toyota|         RAV4|2011|     Gray|  Naphtha| 5.0|Automatic|          2.4|      SUV|    180000|   Pesos|
+--------+-------------+-------------+----+---------+---------+----+---------+-------------+---------+----------+--------+
only showing top 20 rows

#### Changing pesos money to USD currency

In [33]:
df_pyspark_arg = df_pyspark_arg.withColumn("Money USD",
              when(df_pyspark_arg.currency  == 'Pesos',  df_pyspark_arg.money * 0.054 )\
              .otherwise(df_pyspark_arg.money))

In [34]:
df_pyspark_arg.show(25,10)

+--------+----------+----------+----+---------+---------+----+---------+----------+---------+----------+--------+---------+
|   money|     brand|     model|year|    Color|Fuel_type|door|     gear|     motor|body_type|kilometres|currency|Money USD|
+--------+----------+----------+----+---------+---------+----+---------+----------+---------+----------+--------+---------+
|10350000|    Toyota|Corolla...|2022|   Silver|  Naphtha| 5.0|Automatic|Not ava...|      SUV|       500|   Pesos| 558900.0|
|10850000|      Jeep|   Compass|2022|    White|  Naphtha| 5.0|Automatic|       2.4|      SUV|       500|   Pesos| 585900.0|
|   35500|      Jeep|   Compass|2022|Dark gray|  Naphtha| 5.0|Automatic|       2.4|      SUV|       500| Dollars|  35500.0|
|   19000|   Citroën| C4 Cactus|2022|Dark gray|  Naphtha| 5.0|Automatic|Not ava...|      SUV|       550| Dollars|  19000.0|
| 5800000|    Toyota|   Corolla|2019|     Gray|  Naphtha| 4.0|   Manual|       1.8|    Sedán|      9000|   Pesos| 313200.0|
|   34500|      Jeep|   Compass|2022|    Black|  Naphtha| 5.0|Automatic|       1.3|      SUV|     10500| Dollars|  34500.0|
|   25000|       Kia|   Sorento|2014|    Black|   Diesel| 5.0|Automatic|       2.2|      SUV|    156000| Dollars|  25000.0|
|   12300|Mercede...|   Clase C|2008|   Silver|  Naphtha| 4.0|Automatic|       1.8|    Sedán|    174000| Dollars|  12300.0|
|   35500|       BMW|       220|2016|    White|  Naphtha| 2.0|Automatic|     TURBO|    Coupé|     66000| Dollars|  35500.0|
| 6800000|Volkswagen|   T-Cross|2019|   Orange|  Naphtha| 5.0|Automatic|1.6 MSI...|      SUV|     35000|   Pesos| 367200.0|
|   38500|Mercede...|   Clase A|2017|   Silver|  Naphtha| 5.0|Automatic|         3|Hatchback|     55394| Dollars|  38500.0|
|   20500|Mercede...|   Clase A|2013|    White|  Naphtha| 5.0|   Manual|       1.6|Hatchback|    162080| Dollars|  20500.0|
| 3500000|   Renault|   Sandero|2022|   Silver|  Naphtha| 5.0|   Manual|Not ava...|    Sedán|    111111|   Pesos| 189000.0|
| 5990000|Volkswagen|      Polo|2022|    White|  Naphtha| 5.0|   Manual|       1.6|Hatchback|    111111|   Pesos| 323460.0|
|   41900|       BMW|   Serie 1|2020|    Black|  Naphtha| 5.0|Automatic|Not ava...|Hatchback|     34800| Dollars|  41900.0|
| 2100000|      Ford|  Ecosport|2011|    Beige|  Naphtha| 4.0|   Manual|       1.6|      SUV|    101000|   Pesos| 113400.0|
|   38500| Chevrolet|Trailbl...|2019|     Gray|   Diesel| 5.0|Automatic|Not ava...|      SUV|     73000| Dollars|  38500.0|
| 2940000|    Toyota|     Etios|2015|    White|  Naphtha| 5.0|   Manual|       1.5|Hatchback|     83000|   Pesos| 158760.0|
| 2050000|   Renault|      Clio|2014|     Gray|  Naphtha| 5.0|   Manual|       1.2|Hatchback|     99000|   Pesos| 110700.0|
| 4120000|    Toyota|      RAV4|2011|     Gray|  Naphtha| 5.0|Automatic|       2.4|      SUV|    180000|   Pesos| 222480.0|
| 4100000|    Toyota|     Etios|2018|     Gray|  Naphtha| 5.0|   Manual|       1.5|    Sedán|     80000|   Pesos| 221400.0|
|   15000|      Mini|    Cooper|2013|      Red|  Naphtha| 5.0|   Manual|       1.6|Hatchback|    105000| Dollars|  15000.0|
| 5099000|      Jeep|  Renegade|2018|      Red|  Naphtha| 5.0|   Manual|       1.8|      SUV|     78000|   Pesos| 275346.0|
| 8300000|    Toyota|     Hilux|2017|      Red|   Diesel| 4.0|   Manual|       2.8|  Pick-Up|    170000|   Pesos| 448200.0|
| 2800000|      Fiat|     Bravo|2013|    Black|  Naphtha| 5.0|   Manual|Not ava...|Hatchback|    124000|   Pesos| 151200.0|
+--------+----------+----------+----+---------+---------+----+---------+----------+---------+----------+--------+---------+
only showing top 25 rows

### Renaming columns in dataframe

In [35]:
df_pyspark_arg.columns

['money',
 'brand',
 'model',
 'year',
 'Color',
 'Fuel_type',
 'door',
 'gear',
 'motor',
 'body_type',
 'kilometres',
 'currency',
 'Money USD']

In [36]:
df_pyspark_arg =df_pyspark_arg.withColumnRenamed('money', 'Money') \
              .withColumnRenamed('brand', 'Brand') \
              .withColumnRenamed('model','Model') \
              .withColumnRenamed('year', 'Year') \
              .withColumnRenamed('Fuel_type','FuelType') \
              .withColumnRenamed('door','Door') \
              .withColumnRenamed('gear','Gear') \
              .withColumnRenamed('motor','Motor') \
              .withColumnRenamed('body_type','BodyType') \
              .withColumnRenamed('kilometres','Kilometres') \
              .withColumnRenamed('currency','Currency')

In [37]:
df_pyspark_arg.show(25,10)

+--------+----------+----------+----+---------+--------+----+---------+----------+---------+----------+--------+---------+
|   Money|     Brand|     Model|Year|    Color|FuelType|Door|     Gear|     Motor| BodyType|Kilometres|Currency|Money USD|
+--------+----------+----------+----+---------+--------+----+---------+----------+---------+----------+--------+---------+
|10350000|    Toyota|Corolla...|2022|   Silver| Naphtha| 5.0|Automatic|Not ava...|      SUV|       500|   Pesos| 558900.0|
|10850000|      Jeep|   Compass|2022|    White| Naphtha| 5.0|Automatic|       2.4|      SUV|       500|   Pesos| 585900.0|
|   35500|      Jeep|   Compass|2022|Dark gray| Naphtha| 5.0|Automatic|       2.4|      SUV|       500| Dollars|  35500.0|
|   19000|   Citroën| C4 Cactus|2022|Dark gray| Naphtha| 5.0|Automatic|Not ava...|      SUV|       550| Dollars|  19000.0|
| 5800000|    Toyota|   Corolla|2019|     Gray| Naphtha| 4.0|   Manual|       1.8|    Sedán|      9000|   Pesos| 313200.0|
|   34500|      Jeep|   Compass|2022|    Black| Naphtha| 5.0|Automatic|       1.3|      SUV|     10500| Dollars|  34500.0|
|   25000|       Kia|   Sorento|2014|    Black|  Diesel| 5.0|Automatic|       2.2|      SUV|    156000| Dollars|  25000.0|
|   12300|Mercede...|   Clase C|2008|   Silver| Naphtha| 4.0|Automatic|       1.8|    Sedán|    174000| Dollars|  12300.0|
|   35500|       BMW|       220|2016|    White| Naphtha| 2.0|Automatic|     TURBO|    Coupé|     66000| Dollars|  35500.0|
| 6800000|Volkswagen|   T-Cross|2019|   Orange| Naphtha| 5.0|Automatic|1.6 MSI...|      SUV|     35000|   Pesos| 367200.0|
|   38500|Mercede...|   Clase A|2017|   Silver| Naphtha| 5.0|Automatic|         3|Hatchback|     55394| Dollars|  38500.0|
|   20500|Mercede...|   Clase A|2013|    White| Naphtha| 5.0|   Manual|       1.6|Hatchback|    162080| Dollars|  20500.0|
| 3500000|   Renault|   Sandero|2022|   Silver| Naphtha| 5.0|   Manual|Not ava...|    Sedán|    111111|   Pesos| 189000.0|
| 5990000|Volkswagen|      Polo|2022|    White| Naphtha| 5.0|   Manual|       1.6|Hatchback|    111111|   Pesos| 323460.0|
|   41900|       BMW|   Serie 1|2020|    Black| Naphtha| 5.0|Automatic|Not ava...|Hatchback|     34800| Dollars|  41900.0|
| 2100000|      Ford|  Ecosport|2011|    Beige| Naphtha| 4.0|   Manual|       1.6|      SUV|    101000|   Pesos| 113400.0|
|   38500| Chevrolet|Trailbl...|2019|     Gray|  Diesel| 5.0|Automatic|Not ava...|      SUV|     73000| Dollars|  38500.0|
| 2940000|    Toyota|     Etios|2015|    White| Naphtha| 5.0|   Manual|       1.5|Hatchback|     83000|   Pesos| 158760.0|
| 2050000|   Renault|      Clio|2014|     Gray| Naphtha| 5.0|   Manual|       1.2|Hatchback|     99000|   Pesos| 110700.0|
| 4120000|    Toyota|      RAV4|2011|     Gray| Naphtha| 5.0|Automatic|       2.4|      SUV|    180000|   Pesos| 222480.0|
| 4100000|    Toyota|     Etios|2018|     Gray| Naphtha| 5.0|   Manual|       1.5|    Sedán|     80000|   Pesos| 221400.0|
|   15000|      Mini|    Cooper|2013|      Red| Naphtha| 5.0|   Manual|       1.6|Hatchback|    105000| Dollars|  15000.0|
| 5099000|      Jeep|  Renegade|2018|      Red| Naphtha| 5.0|   Manual|       1.8|      SUV|     78000|   Pesos| 275346.0|
| 8300000|    Toyota|     Hilux|2017|      Red|  Diesel| 4.0|   Manual|       2.8|  Pick-Up|    170000|   Pesos| 448200.0|
| 2800000|      Fiat|     Bravo|2013|    Black| Naphtha| 5.0|   Manual|Not ava...|Hatchback|    124000|   Pesos| 151200.0|
+--------+----------+----------+----+---------+--------+----+---------+----------+---------+----------+--------+---------+
only showing top 25 rows

##### Changing datatype

In [38]:
df_pyspark_arg = df_pyspark_arg.withColumn('Door',df_pyspark_arg.Door.cast('int'))
df_pyspark_arg = df_pyspark_arg.withColumn('Money USD',df_pyspark_arg['Money USD'].cast('int'))

##### Reordening the sequence of columns

In [39]:
df_pyspark_arg.columns

['Money',
 'Brand',
 'Model',
 'Year',
 'Color',
 'FuelType',
 'Door',
 'Gear',
 'Motor',
 'BodyType',
 'Kilometres',
 'Currency',
 'Money USD']

In [40]:
df_pyspark_arg = df_pyspark_arg.select('Brand',
 'Model',
 'Year',
 'Color',
 'FuelType',
 'Door',
 'Gear',
 'Motor',
 'BodyType',
 'Kilometres',
 'Currency',
  'Money',
 'Money USD')

### Basic information after cleaning

In [41]:
df_pyspark_arg.printSchema()

root
 |-- Brand: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Color: string (nullable = false)
 |-- FuelType: string (nullable = false)
 |-- Door: integer (nullable = true)
 |-- Gear: string (nullable = false)
 |-- Motor: string (nullable = false)
 |-- BodyType: string (nullable = false)
 |-- Kilometres: integer (nullable = true)
 |-- Currency: string (nullable = false)
 |-- Money: integer (nullable = true)
 |-- Money USD: integer (nullable = true)

In [42]:
df_pyspark_arg.show(25,10)

+----------+----------+----+---------+--------+----+---------+----------+---------+----------+--------+--------+---------+
|     Brand|     Model|Year|    Color|FuelType|Door|     Gear|     Motor| BodyType|Kilometres|Currency|   Money|Money USD|
+----------+----------+----+---------+--------+----+---------+----------+---------+----------+--------+--------+---------+
|    Toyota|Corolla...|2022|   Silver| Naphtha|   5|Automatic|Not ava...|      SUV|       500|   Pesos|10350000|   558900|
|      Jeep|   Compass|2022|    White| Naphtha|   5|Automatic|       2.4|      SUV|       500|   Pesos|10850000|   585900|
|      Jeep|   Compass|2022|Dark gray| Naphtha|   5|Automatic|       2.4|      SUV|       500| Dollars|   35500|    35500|
|   Citroën| C4 Cactus|2022|Dark gray| Naphtha|   5|Automatic|Not ava...|      SUV|       550| Dollars|   19000|    19000|
|    Toyota|   Corolla|2019|     Gray| Naphtha|   4|   Manual|       1.8|    Sedán|      9000|   Pesos| 5800000|   313200|
|      Jeep|   Compass|2022|    Black| Naphtha|   5|Automatic|       1.3|      SUV|     10500| Dollars|   34500|    34500|
|       Kia|   Sorento|2014|    Black|  Diesel|   5|Automatic|       2.2|      SUV|    156000| Dollars|   25000|    25000|
|Mercede...|   Clase C|2008|   Silver| Naphtha|   4|Automatic|       1.8|    Sedán|    174000| Dollars|   12300|    12300|
|       BMW|       220|2016|    White| Naphtha|   2|Automatic|     TURBO|    Coupé|     66000| Dollars|   35500|    35500|
|Volkswagen|   T-Cross|2019|   Orange| Naphtha|   5|Automatic|1.6 MSI...|      SUV|     35000|   Pesos| 6800000|   367200|
|Mercede...|   Clase A|2017|   Silver| Naphtha|   5|Automatic|         3|Hatchback|     55394| Dollars|   38500|    38500|
|Mercede...|   Clase A|2013|    White| Naphtha|   5|   Manual|       1.6|Hatchback|    162080| Dollars|   20500|    20500|
|   Renault|   Sandero|2022|   Silver| Naphtha|   5|   Manual|Not ava...|    Sedán|    111111|   Pesos| 3500000|   189000|
|Volkswagen|      Polo|2022|    White| Naphtha|   5|   Manual|       1.6|Hatchback|    111111|   Pesos| 5990000|   323460|
|       BMW|   Serie 1|2020|    Black| Naphtha|   5|Automatic|Not ava...|Hatchback|     34800| Dollars|   41900|    41900|
|      Ford|  Ecosport|2011|    Beige| Naphtha|   4|   Manual|       1.6|      SUV|    101000|   Pesos| 2100000|   113400|
| Chevrolet|Trailbl...|2019|     Gray|  Diesel|   5|Automatic|Not ava...|      SUV|     73000| Dollars|   38500|    38500|
|    Toyota|     Etios|2015|    White| Naphtha|   5|   Manual|       1.5|Hatchback|     83000|   Pesos| 2940000|   158760|
|   Renault|      Clio|2014|     Gray| Naphtha|   5|   Manual|       1.2|Hatchback|     99000|   Pesos| 2050000|   110700|
|    Toyota|      RAV4|2011|     Gray| Naphtha|   5|Automatic|       2.4|      SUV|    180000|   Pesos| 4120000|   222480|
|    Toyota|     Etios|2018|     Gray| Naphtha|   5|   Manual|       1.5|    Sedán|     80000|   Pesos| 4100000|   221400|
|      Mini|    Cooper|2013|      Red| Naphtha|   5|   Manual|       1.6|Hatchback|    105000| Dollars|   15000|    15000|
|      Jeep|  Renegade|2018|      Red| Naphtha|   5|   Manual|       1.8|      SUV|     78000|   Pesos| 5099000|   275346|
|    Toyota|     Hilux|2017|      Red|  Diesel|   4|   Manual|       2.8|  Pick-Up|    170000|   Pesos| 8300000|   448200|
|      Fiat|     Bravo|2013|    Black| Naphtha|   5|   Manual|Not ava...|Hatchback|    124000|   Pesos| 2800000|   151200|
+----------+----------+----+---------+--------+----+---------+----------+---------+----------+--------+--------+---------+
only showing top 25 rows

## df_pyspark_nig

In [43]:
df_pyspark_nig.show()

+---+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|_c0|         Make|Year of manufacture|    Condition|Mileage|Engine Size|  Fuel|Transmission|     Price|Build|
+---+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|  0|       Toyota|               2007|Nigerian Used| 166418|       2400|Petrol|   Automatic| 3,120,000| null|
|  1|        Lexus|               null|         null| 138024|       null|  null|   Automatic| 5,834,000| null|
|  2|Mercedes-Benz|               2008|Nigerian Used| 376807|       3000|Petrol|   Automatic| 3,640,000| null|
|  3|        Lexus|               null|         null| 213362|       null|  null|   Automatic| 3,594,000| null|
|  4|Mercedes-Benz|               null|         null| 106199|       null|  null|   Automatic| 8,410,000| null|
|  5|Mercedes-Benz|               null|         null|  87660|       null|  null|   Automatic| 5,554,000| null|
|  6|        Lexus|               null|         null| 191411|       null|  null|   Automatic| 3,706,000| null|
|  7|        Lexus|               null|         null|  59092|       null|  null|   Automatic| 8,410,000| null|
|  8|Mercedes-Benz|               null|         null|  89423|       null|  null|   Automatic| 6,506,000| null|
|  9|        Lexus|               null|         null| 184827|       null|  null|   Automatic| 4,000,000| null|
| 10|        Lexus|               null|         null|  42433|       null|  null|   Automatic| 8,970,000| null|
| 11|        Lexus|               null|         null| 116138|       null|  null|   Automatic| 3,034,000| null|
| 12|        Lexus|               null|         null| 167583|       null|  null|   Automatic| 3,818,000| null|
| 13|        Lexus|               null|         null| 240934|       null|  null|   Automatic| 3,930,000| null|
| 14|         Fiat|               null|         null|    114|       null|  null|   Automatic| 8,500,000| null|
| 15|         Fiat|               null|         null|     54|       null|  null|      Manual|12,500,000| null|
| 16|        Lexus|               null|         null|  79740|       null|  null|   Automatic| 5,274,000| null|
| 17|Mercedes-Benz|               null|         null| 338145|       null|  null|   Automatic| 8,060,000| null|
| 18|        Lexus|               null|         null| 174545|       null|  null|   Automatic| 6,506,000| null|
| 19|   Land Rover|               null|         null|  63296|       null|  null|   Automatic| 6,910,000| null|
+---+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
only showing top 20 rows

#### Dropping one column from dataframe

In [44]:
df_pyspark_nig.columns

['_c0',
 'Make',
 'Year of manufacture',
 'Condition',
 'Mileage',
 'Engine Size',
 'Fuel',
 'Transmission',
 'Price',
 'Build']

In [45]:
df_pyspark_nig = df_pyspark_nig.drop('_c0')

In [46]:
df_pyspark_nig.show()

+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|         Make|Year of manufacture|    Condition|Mileage|Engine Size|  Fuel|Transmission|     Price|Build|
+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|       Toyota|               2007|Nigerian Used| 166418|       2400|Petrol|   Automatic| 3,120,000| null|
|        Lexus|               null|         null| 138024|       null|  null|   Automatic| 5,834,000| null|
|Mercedes-Benz|               2008|Nigerian Used| 376807|       3000|Petrol|   Automatic| 3,640,000| null|
|        Lexus|               null|         null| 213362|       null|  null|   Automatic| 3,594,000| null|
|Mercedes-Benz|               null|         null| 106199|       null|  null|   Automatic| 8,410,000| null|
|Mercedes-Benz|               null|         null|  87660|       null|  null|   Automatic| 5,554,000| null|
|        Lexus|               null|         null| 191411|       null|  null|   Automatic| 3,706,000| null|
|        Lexus|               null|         null|  59092|       null|  null|   Automatic| 8,410,000| null|
|Mercedes-Benz|               null|         null|  89423|       null|  null|   Automatic| 6,506,000| null|
|        Lexus|               null|         null| 184827|       null|  null|   Automatic| 4,000,000| null|
|        Lexus|               null|         null|  42433|       null|  null|   Automatic| 8,970,000| null|
|        Lexus|               null|         null| 116138|       null|  null|   Automatic| 3,034,000| null|
|        Lexus|               null|         null| 167583|       null|  null|   Automatic| 3,818,000| null|
|        Lexus|               null|         null| 240934|       null|  null|   Automatic| 3,930,000| null|
|         Fiat|               null|         null|    114|       null|  null|   Automatic| 8,500,000| null|
|         Fiat|               null|         null|     54|       null|  null|      Manual|12,500,000| null|
|        Lexus|               null|         null|  79740|       null|  null|   Automatic| 5,274,000| null|
|Mercedes-Benz|               null|         null| 338145|       null|  null|   Automatic| 8,060,000| null|
|        Lexus|               null|         null| 174545|       null|  null|   Automatic| 6,506,000| null|
|   Land Rover|               null|         null|  63296|       null|  null|   Automatic| 6,910,000| null|
+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
only showing top 20 rows

### Looking for null values in columns:

In [47]:
df_pyspark_nig.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_pyspark_nig.columns]).show()

+----+-------------------+---------+-------+-----------+----+------------+-----+-----+
|Make|Year of manufacture|Condition|Mileage|Engine Size|Fuel|Transmission|Price|Build|
+----+-------------------+---------+-------+-----------+----+------------+-----+-----+
|   0|                478|      479|     71|        511| 488|          20|    0| 2968|
+----+-------------------+---------+-------+-----------+----+------------+-----+-----+

#### Exploring null values in columns:

In [48]:
df_pyspark_nig.filter(col("Year of manufacture").isNull()).show()

+-------------+-------------------+---------+-------+-----------+----+------------+----------+-----+
|         Make|Year of manufacture|Condition|Mileage|Engine Size|Fuel|Transmission|     Price|Build|
+-------------+-------------------+---------+-------+-----------+----+------------+----------+-----+
|        Lexus|               null|     null| 138024|       null|null|   Automatic| 5,834,000| null|
|        Lexus|               null|     null| 213362|       null|null|   Automatic| 3,594,000| null|
|Mercedes-Benz|               null|     null| 106199|       null|null|   Automatic| 8,410,000| null|
|Mercedes-Benz|               null|     null|  87660|       null|null|   Automatic| 5,554,000| null|
|        Lexus|               null|     null| 191411|       null|null|   Automatic| 3,706,000| null|
|        Lexus|               null|     null|  59092|       null|null|   Automatic| 8,410,000| null|
|Mercedes-Benz|               null|     null|  89423|       null|null|   Automatic| 6,506,000| null|
|        Lexus|               null|     null| 184827|       null|null|   Automatic| 4,000,000| null|
|        Lexus|               null|     null|  42433|       null|null|   Automatic| 8,970,000| null|
|        Lexus|               null|     null| 116138|       null|null|   Automatic| 3,034,000| null|
|        Lexus|               null|     null| 167583|       null|null|   Automatic| 3,818,000| null|
|        Lexus|               null|     null| 240934|       null|null|   Automatic| 3,930,000| null|
|         Fiat|               null|     null|    114|       null|null|   Automatic| 8,500,000| null|
|         Fiat|               null|     null|     54|       null|null|      Manual|12,500,000| null|
|        Lexus|               null|     null|  79740|       null|null|   Automatic| 5,274,000| null|
|Mercedes-Benz|               null|     null| 338145|       null|null|   Automatic| 8,060,000| null|
|        Lexus|               null|     null| 174545|       null|null|   Automatic| 6,506,000| null|
|   Land Rover|               null|     null|  63296|       null|null|   Automatic| 6,910,000| null|
|Mercedes-Benz|               null|     null|  93469|       null|null|   Automatic| 6,910,000| null|
|Mercedes-Benz|               null|     null|  63085|       null|null|   Automatic|15,690,000| null|
+-------------+-------------------+---------+-------+-----------+----+------------+----------+-----+
only showing top 20 rows

In [49]:
df_pyspark_nig.filter(col("Build").isNull()).show()

+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|         Make|Year of manufacture|    Condition|Mileage|Engine Size|  Fuel|Transmission|     Price|Build|
+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|       Toyota|               2007|Nigerian Used| 166418|       2400|Petrol|   Automatic| 3,120,000| null|
|        Lexus|               null|         null| 138024|       null|  null|   Automatic| 5,834,000| null|
|Mercedes-Benz|               2008|Nigerian Used| 376807|       3000|Petrol|   Automatic| 3,640,000| null|
|        Lexus|               null|         null| 213362|       null|  null|   Automatic| 3,594,000| null|
|Mercedes-Benz|               null|         null| 106199|       null|  null|   Automatic| 8,410,000| null|
|Mercedes-Benz|               null|         null|  87660|       null|  null|   Automatic| 5,554,000| null|
|        Lexus|               null|         null| 191411|       null|  null|   Automatic| 3,706,000| null|
|        Lexus|               null|         null|  59092|       null|  null|   Automatic| 8,410,000| null|
|Mercedes-Benz|               null|         null|  89423|       null|  null|   Automatic| 6,506,000| null|
|        Lexus|               null|         null| 184827|       null|  null|   Automatic| 4,000,000| null|
|        Lexus|               null|         null|  42433|       null|  null|   Automatic| 8,970,000| null|
|        Lexus|               null|         null| 116138|       null|  null|   Automatic| 3,034,000| null|
|        Lexus|               null|         null| 167583|       null|  null|   Automatic| 3,818,000| null|
|        Lexus|               null|         null| 240934|       null|  null|   Automatic| 3,930,000| null|
|         Fiat|               null|         null|    114|       null|  null|   Automatic| 8,500,000| null|
|         Fiat|               null|         null|     54|       null|  null|      Manual|12,500,000| null|
|        Lexus|               null|         null|  79740|       null|  null|   Automatic| 5,274,000| null|
|Mercedes-Benz|               null|         null| 338145|       null|  null|   Automatic| 8,060,000| null|
|        Lexus|               null|         null| 174545|       null|  null|   Automatic| 6,506,000| null|
|   Land Rover|               null|         null|  63296|       null|  null|   Automatic| 6,910,000| null|
+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
only showing top 20 rows

In [50]:
df_pyspark_nig.filter(col("Build").isNotNull()).show()

+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|         Make|Year of manufacture|    Condition|Mileage|Engine Size|  Fuel|Transmission|     Price|Build|
+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|        Lexus|               2011|Nigerian Used| 105546|       4600|Petrol|   Automatic|14,040,000|  SUV|
|       Toyota|               2014|Nigerian Used| 216924|       2500|Petrol|   Automatic| 9,360,000|  SUV|
|       Toyota|               2014|Nigerian Used| 216924|       2500|Petrol|   Automatic| 9,360,000|  SUV|
|        Lexus|               2016|Nigerian Used| 107355|       5700|Petrol|   Automatic|42,000,000|  SUV|
|Mercedes-Benz|               2007| Foreign Used| 209466|       4700|Petrol|   Automatic| 4,515,000|  SUV|
|        Lexus|               2010| Foreign Used| 135819|       3500|Petrol|   Automatic| 8,610,000|  SUV|
|Mercedes-Benz|               2015|Nigerian Used| 120785|       4500|Petrol|   Automatic|18,720,000|  SUV|
|        Lexus|               2006|Nigerian Used| 156704|       3300|Petrol|   Automatic| 3,640,000|  SUV|
|        Lexus|               2008|Nigerian Used| 162262|       4700|Petrol|   Automatic| 4,725,000|  SUV|
|   Land Rover|               2011|Nigerian Used| 132352|       5000|Petrol|   Automatic| 5,250,000|  SUV|
|       Toyota|               2010| Foreign Used| 170599|       3500|Petrol|   Automatic| 6,825,000|  SUV|
|        Lexus|               2015| Foreign Used| 228013|       3500|Petrol|   Automatic|15,600,000|  SUV|
|       Toyota|               2015| Foreign Used|  79277|       4000|Petrol|   Automatic|17,680,000|  SUV|
|        Lexus|               2015|Nigerian Used|  88745|       3500|Petrol|   Automatic| 9,450,000|  SUV|
|       Toyota|               2010| Foreign Used| 158017|       3500|Petrol|   Automatic| 6,825,000|  SUV|
|        Lexus|               2004| Foreign Used| 250650|       3500|Petrol|   Automatic| 6,032,000|  SUV|
|Mercedes-Benz|               2006|Nigerian Used| 243975|       3500|Petrol|   Automatic| 3,360,000|  SUV|
|   Land Rover|               2018| Foreign Used|  30092|       3000|Diesel|   Automatic|36,750,000|  SUV|
|Mercedes-Benz|               2012| Foreign Used| 173337|       3500|Petrol|   Automatic|11,025,000|  SUV|
|        Lexus|               2005| Foreign Used|  95873|       3300|Petrol|   Automatic| 5,200,000|  SUV|
+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
only showing top 20 rows

#### Dropping null values

In [51]:
df_pyspark_nig = df_pyspark_nig.na.drop()

In [52]:
df_pyspark_nig.show()

+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|         Make|Year of manufacture|    Condition|Mileage|Engine Size|  Fuel|Transmission|     Price|Build|
+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|        Lexus|               2011|Nigerian Used| 105546|       4600|Petrol|   Automatic|14,040,000|  SUV|
|       Toyota|               2014|Nigerian Used| 216924|       2500|Petrol|   Automatic| 9,360,000|  SUV|
|       Toyota|               2014|Nigerian Used| 216924|       2500|Petrol|   Automatic| 9,360,000|  SUV|
|        Lexus|               2016|Nigerian Used| 107355|       5700|Petrol|   Automatic|42,000,000|  SUV|
|Mercedes-Benz|               2007| Foreign Used| 209466|       4700|Petrol|   Automatic| 4,515,000|  SUV|
|        Lexus|               2010| Foreign Used| 135819|       3500|Petrol|   Automatic| 8,610,000|  SUV|
|Mercedes-Benz|               2015|Nigerian Used| 120785|       4500|Petrol|   Automatic|18,720,000|  SUV|
|        Lexus|               2006|Nigerian Used| 156704|       3300|Petrol|   Automatic| 3,640,000|  SUV|
|        Lexus|               2008|Nigerian Used| 162262|       4700|Petrol|   Automatic| 4,725,000|  SUV|
|   Land Rover|               2011|Nigerian Used| 132352|       5000|Petrol|   Automatic| 5,250,000|  SUV|
|       Toyota|               2010| Foreign Used| 170599|       3500|Petrol|   Automatic| 6,825,000|  SUV|
|        Lexus|               2015| Foreign Used| 228013|       3500|Petrol|   Automatic|15,600,000|  SUV|
|       Toyota|               2015| Foreign Used|  79277|       4000|Petrol|   Automatic|17,680,000|  SUV|
|        Lexus|               2015|Nigerian Used|  88745|       3500|Petrol|   Automatic| 9,450,000|  SUV|
|       Toyota|               2010| Foreign Used| 158017|       3500|Petrol|   Automatic| 6,825,000|  SUV|
|        Lexus|               2004| Foreign Used| 250650|       3500|Petrol|   Automatic| 6,032,000|  SUV|
|Mercedes-Benz|               2006|Nigerian Used| 243975|       3500|Petrol|   Automatic| 3,360,000|  SUV|
|   Land Rover|               2018| Foreign Used|  30092|       3000|Diesel|   Automatic|36,750,000|  SUV|
|Mercedes-Benz|               2012| Foreign Used| 173337|       3500|Petrol|   Automatic|11,025,000|  SUV|
|        Lexus|               2005| Foreign Used|  95873|       3300|Petrol|   Automatic| 5,200,000|  SUV|
+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
only showing top 20 rows

#### Verifying if all drop values are dropped

In [53]:
df_pyspark_nig.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_pyspark_nig.columns]).show()

+----+-------------------+---------+-------+-----------+----+------------+-----+-----+
|Make|Year of manufacture|Condition|Mileage|Engine Size|Fuel|Transmission|Price|Build|
+----+-------------------+---------+-------+-----------+----+------------+-----+-----+
|   0|                  0|        0|      0|          0|   0|           0|    0|    0|
+----+-------------------+---------+-------+-----------+----+------------+-----+-----+

### Dealing with duplicates

In [54]:
print("Count  of rows in dataframe: " + str(df_pyspark_nig.count()))

Count  of rows in dataframe: 1101

In [55]:
print("Distinct Count of rows in dataframe: " + str(df_pyspark_nig.distinct().count()))

Distinct Count of rows in dataframe: 851

#### Removing duplicate values

In [56]:
df_pyspark_nig = df_pyspark_nig.dropDuplicates()
print("Distinct count: "+str(df_pyspark_nig.count()))

Distinct count: 851

### Changing the name of columns

In [57]:
df_pyspark_nig.show()

+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|         Make|Year of manufacture|    Condition|Mileage|Engine Size|  Fuel|Transmission|     Price|Build|
+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|Mercedes-Benz|               2013| Foreign Used| 104536|       3500|Petrol|   Automatic|14,352,000|  SUV|
|        Honda|               2011| Foreign Used|   3621|       3500|Petrol|   Automatic| 6,240,000|  SUV|
|       Toyota|               2007|Nigerian Used| 223493|       3500|Hybrid|   Automatic| 2,100,000|  SUV|
|       Toyota|               2003|Nigerian Used| 367531|       4000|Petrol|   Automatic| 2,137,500|  SUV|
|        Lexus|               2007| Foreign Used| 104138|       3500|Petrol|   Automatic| 5,928,000|  SUV|
|      Lincoln|               2019|Nigerian Used|  35976|       2000|Petrol|   Automatic|17,850,000|  SUV|
|   Land Rover|               2008|Nigerian Used| 178780|       4700|Petrol|   Automatic| 3,150,000|  SUV|
|        Lexus|               2007|Nigerian Used| 220726|       3500|Petrol|   Automatic| 4,680,000|  SUV|
|        Mazda|               2010|Nigerian Used| 322717|       2500|Petrol|   Automatic| 2,100,000|  SUV|
|        Lexus|               2008| Foreign Used| 149092|       3500|Petrol|   Automatic| 5,145,000|  SUV|
|      Hyundai|               2010|Nigerian Used| 262797|       3800|Petrol|   Automatic| 2,677,500|  SUV|
|       Toyota|               2001|Nigerian Used| 119510|       3000|Petrol|   Automatic| 1,352,000|  SUV|
|Mercedes-Benz|               2007|Nigerian Used|   1966|         35|Petrol|   Automatic| 5,720,000|  SUV|
|       Toyota|               2002| Foreign Used| 125606|       2000|Petrol|   Automatic| 3,255,000|  SUV|
|          Kia|               2013|Nigerian Used| 134013|       3800|Petrol|   Automatic| 4,410,000|  SUV|
|        Honda|               2003|Nigerian Used| 175567|       3500|Petrol|   Automatic| 1,612,000|  SUV|
|       Nissan|               2009|Nigerian Used| 213292|       3500|Petrol|         CVT| 1,575,000|  SUV|
|        Lexus|               2005|Nigerian Used| 196345|       3300|Petrol|   Automatic| 3,432,000|  SUV|
|       Toyota|               2007|Nigerian Used| 213548|       3500|Petrol|   Automatic| 3,328,000|  SUV|
|       Toyota|               2009|Nigerian Used|  94618|       3500|Petrol|   Automatic| 4,725,000|  SUV|
+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
only showing top 20 rows

In [58]:
df_pyspark_nig.columns

['Make',
 'Year of manufacture',
 'Condition',
 'Mileage',
 'Engine Size',
 'Fuel',
 'Transmission',
 'Price',
 'Build']

In [59]:
df_pyspark_nig = df_pyspark_nig.withColumnRenamed("Make","Brand") \
                .withColumnRenamed("Year of manufacture","Year") \
                .withColumnRenamed("Mileage","Kilometres") \
                 .withColumnRenamed("Transmission","Gear") \
                .withColumnRenamed("Build","BodyType") \
                .withColumnRenamed("Fuel","FuelType") \
                .withColumnRenamed("Engine Size","EngineSize") \
                .withColumnRenamed("Price","Money")

### Converting str to int data type

In [60]:
df_pyspark_nig = df_pyspark_nig.withColumn("Money", functions.regexp_replace('Money',r'[,]',""))
df_pyspark_nig = df_pyspark_nig.withColumn("Money",col("Money").cast("integer"))

In [61]:
df_pyspark_nig.show()

+-------------+----+-------------+----------+----------+--------+---------+--------+--------+
|        Brand|Year|    Condition|Kilometres|EngineSize|FuelType|     Gear|   Money|BodyType|
+-------------+----+-------------+----------+----------+--------+---------+--------+--------+
|Mercedes-Benz|2013| Foreign Used|    104536|      3500|  Petrol|Automatic|14352000|     SUV|
|        Honda|2011| Foreign Used|      3621|      3500|  Petrol|Automatic| 6240000|     SUV|
|       Toyota|2007|Nigerian Used|    223493|      3500|  Hybrid|Automatic| 2100000|     SUV|
|       Toyota|2003|Nigerian Used|    367531|      4000|  Petrol|Automatic| 2137500|     SUV|
|        Lexus|2007| Foreign Used|    104138|      3500|  Petrol|Automatic| 5928000|     SUV|
|      Lincoln|2019|Nigerian Used|     35976|      2000|  Petrol|Automatic|17850000|     SUV|
|   Land Rover|2008|Nigerian Used|    178780|      4700|  Petrol|Automatic| 3150000|     SUV|
|        Lexus|2007|Nigerian Used|    220726|      3500|  Petrol|Automatic| 4680000|     SUV|
|        Mazda|2010|Nigerian Used|    322717|      2500|  Petrol|Automatic| 2100000|     SUV|
|        Lexus|2008| Foreign Used|    149092|      3500|  Petrol|Automatic| 5145000|     SUV|
|      Hyundai|2010|Nigerian Used|    262797|      3800|  Petrol|Automatic| 2677500|     SUV|
|       Toyota|2001|Nigerian Used|    119510|      3000|  Petrol|Automatic| 1352000|     SUV|
|Mercedes-Benz|2007|Nigerian Used|      1966|        35|  Petrol|Automatic| 5720000|     SUV|
|       Toyota|2002| Foreign Used|    125606|      2000|  Petrol|Automatic| 3255000|     SUV|
|          Kia|2013|Nigerian Used|    134013|      3800|  Petrol|Automatic| 4410000|     SUV|
|        Honda|2003|Nigerian Used|    175567|      3500|  Petrol|Automatic| 1612000|     SUV|
|       Nissan|2009|Nigerian Used|    213292|      3500|  Petrol|      CVT| 1575000|     SUV|
|        Lexus|2005|Nigerian Used|    196345|      3300|  Petrol|Automatic| 3432000|     SUV|
|       Toyota|2007|Nigerian Used|    213548|      3500|  Petrol|Automatic| 3328000|     SUV|
|       Toyota|2009|Nigerian Used|     94618|      3500|  Petrol|Automatic| 4725000|     SUV|
+-------------+----+-------------+----------+----------+--------+---------+--------+--------+
only showing top 20 rows

### Converting Money to Money USD

In [62]:
def MoneyUSD(df_pyspark_nig):
    return df_pyspark_nig.withColumn("Money USD", \
                                   df_pyspark_nig.Money * 0.0022 )
df_pyspark_nig = df_pyspark_nig.transform(MoneyUSD)

### Basic information after cleaning

In [63]:
df_pyspark_nig.printSchema()

root
 |-- Brand: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Condition: string (nullable = true)
 |-- Kilometres: integer (nullable = true)
 |-- EngineSize: integer (nullable = true)
 |-- FuelType: string (nullable = true)
 |-- Gear: string (nullable = true)
 |-- Money: integer (nullable = true)
 |-- BodyType: string (nullable = true)
 |-- Money USD: double (nullable = true)

In [64]:
df_pyspark_nig.show()

+-------------+----+-------------+----------+----------+--------+---------+--------+--------+-----------------+
|        Brand|Year|    Condition|Kilometres|EngineSize|FuelType|     Gear|   Money|BodyType|        Money USD|
+-------------+----+-------------+----------+----------+--------+---------+--------+--------+-----------------+
|Mercedes-Benz|2013| Foreign Used|    104536|      3500|  Petrol|Automatic|14352000|     SUV|          31574.4|
|        Honda|2011| Foreign Used|      3621|      3500|  Petrol|Automatic| 6240000|     SUV|          13728.0|
|       Toyota|2007|Nigerian Used|    223493|      3500|  Hybrid|Automatic| 2100000|     SUV|           4620.0|
|       Toyota|2003|Nigerian Used|    367531|      4000|  Petrol|Automatic| 2137500|     SUV|           4702.5|
|        Lexus|2007| Foreign Used|    104138|      3500|  Petrol|Automatic| 5928000|     SUV|          13041.6|
|      Lincoln|2019|Nigerian Used|     35976|      2000|  Petrol|Automatic|17850000|     SUV|          39270.0|
|   Land Rover|2008|Nigerian Used|    178780|      4700|  Petrol|Automatic| 3150000|     SUV|           6930.0|
|        Lexus|2007|Nigerian Used|    220726|      3500|  Petrol|Automatic| 4680000|     SUV|          10296.0|
|        Mazda|2010|Nigerian Used|    322717|      2500|  Petrol|Automatic| 2100000|     SUV|           4620.0|
|        Lexus|2008| Foreign Used|    149092|      3500|  Petrol|Automatic| 5145000|     SUV|          11319.0|
|      Hyundai|2010|Nigerian Used|    262797|      3800|  Petrol|Automatic| 2677500|     SUV|           5890.5|
|       Toyota|2001|Nigerian Used|    119510|      3000|  Petrol|Automatic| 1352000|     SUV|           2974.4|
|Mercedes-Benz|2007|Nigerian Used|      1966|        35|  Petrol|Automatic| 5720000|     SUV|          12584.0|
|       Toyota|2002| Foreign Used|    125606|      2000|  Petrol|Automatic| 3255000|     SUV|           7161.0|
|          Kia|2013|Nigerian Used|    134013|      3800|  Petrol|Automatic| 4410000|     SUV|           9702.0|
|        Honda|2003|Nigerian Used|    175567|      3500|  Petrol|Automatic| 1612000|     SUV|           3546.4|
|       Nissan|2009|Nigerian Used|    213292|      3500|  Petrol|      CVT| 1575000|     SUV|           3465.0|
|        Lexus|2005|Nigerian Used|    196345|      3300|  Petrol|Automatic| 3432000|     SUV|7550.400000000001|
|       Toyota|2007|Nigerian Used|    213548|      3500|  Petrol|Automatic| 3328000|     SUV|           7321.6|
|       Toyota|2009|Nigerian Used|     94618|      3500|  Petrol|Automatic| 4725000|     SUV|          10395.0|
+-------------+----+-------------+----------+----------+--------+---------+--------+--------+-----------------+
only showing top 20 rows

## df_pyspark_pol

In [65]:
df_pyspark_pol.show()

+---+----+-----+---------------+----+-------+----------+------+---------------+-------------------+-----+
|_c0|mark|model|generation_name|year|mileage|vol_engine|  fuel|           city|           province|price|
+---+----+-----+---------------+----+-------+----------+------+---------------+-------------------+-----+
|  0|opel|combo|     gen-d-2011|2015| 139568|      1248|Diesel|          Janki|        Mazowieckie|35900|
|  1|opel|combo|     gen-d-2011|2018|  31991|      1499|Diesel|       Katowice|            Śląskie|78501|
|  2|opel|combo|     gen-d-2011|2015| 278437|      1598|Diesel|          Brzeg|           Opolskie|27000|
|  3|opel|combo|     gen-d-2011|2016|  47600|      1248|Diesel|      Korfantów|           Opolskie|30800|
|  4|opel|combo|     gen-d-2011|2014| 103000|      1400|   CNG|Tarnowskie Góry|            Śląskie|35900|
|  5|opel|combo|     gen-d-2011|2017| 121203|      1598|Diesel|       Warszawa|        Mazowieckie|51900|
|  6|opel|combo|     gen-d-2011|2017| 119965|      1248|Diesel|        Wrocław|       Dolnośląskie|44700|
|  7|opel|combo|     gen-d-2011|2016| 201658|      1248|Diesel|         Lublin|          Lubelskie|29000|
|  8|opel|combo|     gen-d-2011|2014| 178666|      1598|Diesel|         Złotów|      Wielkopolskie|28900|
|  9|opel|combo|     gen-d-2011|2015| 113000|      1248|Diesel|       Strzyżew|        Mazowieckie|34900|
| 10|opel|combo|     gen-d-2011|2012| 237000|      1598|Diesel|         Elbląg|Warmińsko-mazurskie|24800|
| 11|opel|combo|     gen-d-2011|2017| 137000|      1248|Diesel|       Warszawa|        Mazowieckie|39900|
| 12|opel|combo|     gen-d-2011|2016| 154000|      1248|Diesel|      Sosnowiec|            Śląskie|35900|
| 13|opel|combo|     gen-d-2011|2017|  59339|      1248|Diesel|        Wrocław|       Dolnośląskie|55300|
| 14|opel|combo|     gen-d-2011|2016| 137445|      1598|Diesel|          Opole|           Opolskie|34700|
| 15|opel|combo|     gen-d-2011|2016| 141859|      1248|Diesel|       Katowice|            Śląskie|39900|
| 16|opel|combo|     gen-d-2011|2012| 195000|      1598|Diesel|          Radom|        Mazowieckie|25900|
| 17|opel|combo|     gen-d-2011|2015| 180000|      1598|Diesel|       Chmieleń|       Dolnośląskie|32900|
| 18|opel|combo|     gen-d-2011|2018| 107515|      1499|Diesel|      Piaseczno|        Mazowieckie|62000|
| 19|opel|combo|     gen-d-2011|2017| 149000|      1598|Diesel|  Góra Kalwaria|        Mazowieckie|39852|
+---+----+-----+---------------+----+-------+----------+------+---------------+-------------------+-----+
only showing top 20 rows

### Looking for null values in columns:

In [66]:
df_pyspark_pol.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_pyspark_pol.columns]).show()

+---+----+-----+---------------+----+-------+----------+----+----+--------+-----+
|_c0|mark|model|generation_name|year|mileage|vol_engine|fuel|city|province|price|
+---+----+-----+---------------+----+-------+----------+----+----+--------+-----+
|  0|   0|    0|          30085|   0|      0|         0|   0|   0|       0|    0|
+---+----+-----+---------------+----+-------+----------+----+----+--------+-----+

#### Browsing null values

In [67]:
df_pyspark_pol.filter(col("generation_name").isNull()).show()

+---+----+-----+---------------+----+-------+----------+--------+--------------+-----------+-----+
|_c0|mark|model|generation_name|year|mileage|vol_engine|    fuel|          city|   province|price|
+---+----+-----+---------------+----+-------+----------+--------+--------------+-----------+-----+
|189|opel| adam|           null|2013| 101514|      1398|Gasoline|      Warszawa|Mazowieckie|29900|
|190|opel| adam|           null|2014|  98317|      1398|     LPG|         Janki|Mazowieckie|36900|
|191|opel| adam|           null|2017|  96511|      1364|Gasoline|      Warszawa|Mazowieckie|48900|
|192|opel| adam|           null|2013| 141399|      1398|Gasoline|      Warszawa|Mazowieckie|31300|
|193|opel| adam|           null|2014|  60936|      1398|Gasoline|      Warszawa|Mazowieckie|40900|
|194|opel| adam|           null|2015|  72279|       999|Gasoline|        Lublin|  Lubelskie|43500|
|195|opel| adam|           null|2015|  91773|      1398|Gasoline|      Katowice|    Śląskie|35700|
|196|opel| adam|           null|2018|  34000|      1398|Gasoline|      Złotniki|   Opolskie|43500|
|197|opel| adam|           null|2014| 100053|      1398|Gasoline|       Leoncin|Mazowieckie|31500|
|198|opel| adam|           null|2014| 109330|      1398|Gasoline|      Warszawa|Mazowieckie|32500|
|199|opel| adam|           null|2014| 121311|      1398|Gasoline|      Warszawa|Mazowieckie|33500|
|200|opel| adam|           null|2013|  91512|      1398|Gasoline|      Warszawa|Mazowieckie|32900|
|201|opel| adam|           null|2018|   8049|      1398|Gasoline|      Warszawa|Mazowieckie|46600|
|202|opel| adam|           null|2014|  81932|      1229|Gasoline|        Lublin|  Lubelskie|27900|
|203|opel| adam|           null|2015|  95988|       999|Gasoline|      Katowice|    Śląskie|41500|
|204|opel| adam|           null|2017|  91955|      1229|Gasoline|      Warszawa|Mazowieckie|36500|
|205|opel| adam|           null|2015|  39007|      1398|Gasoline|      Warszawa|Mazowieckie|38900|
|206|opel| adam|           null|2015| 106000|       999|Gasoline|          Łódź|    Łódzkie|38000|
|207|opel| adam|           null|2015|  91000|      1229|Gasoline|Biała Podlaska|  Lubelskie|35300|
|208|opel| adam|           null|2018|  37000|      1229|Gasoline|       Gliwice|    Śląskie|37900|
+---+----+-----+---------------+----+-------+----------+--------+--------------+-----------+-----+
only showing top 20 rows

In [68]:
df_pyspark_pol = df_pyspark_pol.na.fill("Not Available",["generation_name"])

#### Verifying if all null values are removed:

In [69]:
df_pyspark_pol.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_pyspark_pol.columns]).show()

+---+----+-----+---------------+----+-------+----------+----+----+--------+-----+
|_c0|mark|model|generation_name|year|mileage|vol_engine|fuel|city|province|price|
+---+----+-----+---------------+----+-------+----------+----+----+--------+-----+
|  0|   0|    0|              0|   0|      0|         0|   0|   0|       0|    0|
+---+----+-----+---------------+----+-------+----------+----+----+--------+-----+

### Looking for duplicate values in columns:

In [70]:
print("Distinct Count of rows in dataframe: " + str(df_pyspark_pol.distinct().count()))

Distinct Count of rows in dataframe: 117927

In [71]:
print("Count of rows in dataframe: " + str(df_pyspark_pol.count()))

Count of rows in dataframe: 117927

### Changing the name of columns

In [72]:
df_pyspark_pol.columns

['_c0',
 'mark',
 'model',
 'generation_name',
 'year',
 'mileage',
 'vol_engine',
 'fuel',
 'city',
 'province',
 'price']

In [73]:
df_pyspark_pol = df_pyspark_pol.drop("_c0")

In [74]:
df_pyspark_pol = df_pyspark_pol.withColumnRenamed("mark","Brand") \
                                .withColumnRenamed("model","Model") \
                                .withColumnRenamed("generation_name","GenerationName") \
                                .withColumnRenamed("vol_engine","EngineSize") \
                                .withColumnRenamed("fuel","FuelType") \
                                .withColumnRenamed("city","City") \
                               .withColumnRenamed("year","Year") \
                                .withColumnRenamed("mileage","Kilometers") \
                                 .withColumnRenamed("province","Province") \
                                .withColumnRenamed("price","Money")

In [75]:
df_pyspark_pol.show()

+-----+-----+--------------+----+----------+----------+--------+---------------+-------------------+-----+
|Brand|Model|GenerationName|Year|Kilometers|EngineSize|FuelType|           City|           Province|Money|
+-----+-----+--------------+----+----------+----------+--------+---------------+-------------------+-----+
| opel|combo|    gen-d-2011|2015|    139568|      1248|  Diesel|          Janki|        Mazowieckie|35900|
| opel|combo|    gen-d-2011|2018|     31991|      1499|  Diesel|       Katowice|            Śląskie|78501|
| opel|combo|    gen-d-2011|2015|    278437|      1598|  Diesel|          Brzeg|           Opolskie|27000|
| opel|combo|    gen-d-2011|2016|     47600|      1248|  Diesel|      Korfantów|           Opolskie|30800|
| opel|combo|    gen-d-2011|2014|    103000|      1400|     CNG|Tarnowskie Góry|            Śląskie|35900|
| opel|combo|    gen-d-2011|2017|    121203|      1598|  Diesel|       Warszawa|        Mazowieckie|51900|
| opel|combo|    gen-d-2011|2017|    119965|      1248|  Diesel|        Wrocław|       Dolnośląskie|44700|
| opel|combo|    gen-d-2011|2016|    201658|      1248|  Diesel|         Lublin|          Lubelskie|29000|
| opel|combo|    gen-d-2011|2014|    178666|      1598|  Diesel|         Złotów|      Wielkopolskie|28900|
| opel|combo|    gen-d-2011|2015|    113000|      1248|  Diesel|       Strzyżew|        Mazowieckie|34900|
| opel|combo|    gen-d-2011|2012|    237000|      1598|  Diesel|         Elbląg|Warmińsko-mazurskie|24800|
| opel|combo|    gen-d-2011|2017|    137000|      1248|  Diesel|       Warszawa|        Mazowieckie|39900|
| opel|combo|    gen-d-2011|2016|    154000|      1248|  Diesel|      Sosnowiec|            Śląskie|35900|
| opel|combo|    gen-d-2011|2017|     59339|      1248|  Diesel|        Wrocław|       Dolnośląskie|55300|
| opel|combo|    gen-d-2011|2016|    137445|      1598|  Diesel|          Opole|           Opolskie|34700|
| opel|combo|    gen-d-2011|2016|    141859|      1248|  Diesel|       Katowice|            Śląskie|39900|
| opel|combo|    gen-d-2011|2012|    195000|      1598|  Diesel|          Radom|        Mazowieckie|25900|
| opel|combo|    gen-d-2011|2015|    180000|      1598|  Diesel|       Chmieleń|       Dolnośląskie|32900|
| opel|combo|    gen-d-2011|2018|    107515|      1499|  Diesel|      Piaseczno|        Mazowieckie|62000|
| opel|combo|    gen-d-2011|2017|    149000|      1598|  Diesel|  Góra Kalwaria|        Mazowieckie|39852|
+-----+-----+--------------+----+----------+----------+--------+---------------+-------------------+-----+
only showing top 20 rows

#### Capitalizing the first letter

In [76]:
def to_capitalize_first_letter(df_pyspark_pol):
    return df_pyspark_pol.withColumn("Brand", initcap(col('Brand'))) \
                .withColumn("Model", initcap(col('Model'))) \
                 .withColumn("GenerationName", initcap(col('GenerationName')))

In [77]:
df_pyspark_pol = df_pyspark_pol.transform(to_capitalize_first_letter)

In [78]:
df_pyspark_pol.show()

+-----+-----+--------------+----+----------+----------+--------+---------------+-------------------+-----+
|Brand|Model|GenerationName|Year|Kilometers|EngineSize|FuelType|           City|           Province|Money|
+-----+-----+--------------+----+----------+----------+--------+---------------+-------------------+-----+
| Opel|Combo|    Gen-d-2011|2015|    139568|      1248|  Diesel|          Janki|        Mazowieckie|35900|
| Opel|Combo|    Gen-d-2011|2018|     31991|      1499|  Diesel|       Katowice|            Śląskie|78501|
| Opel|Combo|    Gen-d-2011|2015|    278437|      1598|  Diesel|          Brzeg|           Opolskie|27000|
| Opel|Combo|    Gen-d-2011|2016|     47600|      1248|  Diesel|      Korfantów|           Opolskie|30800|
| Opel|Combo|    Gen-d-2011|2014|    103000|      1400|     CNG|Tarnowskie Góry|            Śląskie|35900|
| Opel|Combo|    Gen-d-2011|2017|    121203|      1598|  Diesel|       Warszawa|        Mazowieckie|51900|
| Opel|Combo|    Gen-d-2011|2017|    119965|      1248|  Diesel|        Wrocław|       Dolnośląskie|44700|
| Opel|Combo|    Gen-d-2011|2016|    201658|      1248|  Diesel|         Lublin|          Lubelskie|29000|
| Opel|Combo|    Gen-d-2011|2014|    178666|      1598|  Diesel|         Złotów|      Wielkopolskie|28900|
| Opel|Combo|    Gen-d-2011|2015|    113000|      1248|  Diesel|       Strzyżew|        Mazowieckie|34900|
| Opel|Combo|    Gen-d-2011|2012|    237000|      1598|  Diesel|         Elbląg|Warmińsko-mazurskie|24800|
| Opel|Combo|    Gen-d-2011|2017|    137000|      1248|  Diesel|       Warszawa|        Mazowieckie|39900|
| Opel|Combo|    Gen-d-2011|2016|    154000|      1248|  Diesel|      Sosnowiec|            Śląskie|35900|
| Opel|Combo|    Gen-d-2011|2017|     59339|      1248|  Diesel|        Wrocław|       Dolnośląskie|55300|
| Opel|Combo|    Gen-d-2011|2016|    137445|      1598|  Diesel|          Opole|           Opolskie|34700|
| Opel|Combo|    Gen-d-2011|2016|    141859|      1248|  Diesel|       Katowice|            Śląskie|39900|
| Opel|Combo|    Gen-d-2011|2012|    195000|      1598|  Diesel|          Radom|        Mazowieckie|25900|
| Opel|Combo|    Gen-d-2011|2015|    180000|      1598|  Diesel|       Chmieleń|       Dolnośląskie|32900|
| Opel|Combo|    Gen-d-2011|2018|    107515|      1499|  Diesel|      Piaseczno|        Mazowieckie|62000|
| Opel|Combo|    Gen-d-2011|2017|    149000|      1598|  Diesel|  Góra Kalwaria|        Mazowieckie|39852|
+-----+-----+--------------+----+----------+----------+--------+---------------+-------------------+-----+
only showing top 20 rows

### Basic information after cleaning

In [79]:
df_pyspark_pol.printSchema()

root
 |-- Brand: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- GenerationName: string (nullable = false)
 |-- Year: integer (nullable = true)
 |-- Kilometers: integer (nullable = true)
 |-- EngineSize: integer (nullable = true)
 |-- FuelType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Province: string (nullable = true)
 |-- Money: integer (nullable = true)

## df_pyspark_usa

In [80]:
df_pyspark_usa.show(20,10)

+----+---------+----------+----------+----------+------------+----------+-----+---------+--------+------+--------+----------+-----+------------+----------+
|year|     make|     model|      trim|      body|transmission|       vin|state|condition|odometer| color|interior|    seller|  mmr|sellingprice|  saledate|
+----+---------+----------+----------+----------+------------+----------+-----+---------+--------+------+--------+----------+-----+------------+----------+
|2015|      Kia|   Sorento|        LX|       SUV|   automatic|5xyktca...|   ca|        5| 16639.0| white|   black|kia mot...|20500|       21500|Tue Dec...|
|2015|      Kia|   Sorento|        LX|       SUV|   automatic|5xyktca...|   ca|        5|  9393.0| white|   beige|kia mot...|20800|       21500|Tue Dec...|
|2014|      BMW|  3 Series|328i SULEV|     Sedan|   automatic|wba3c1c...|   ca|      4.5|  1331.0|  gray|   black|financi...|31900|       30000|Thu Jan...|
|2015|    Volvo|       S60|        T5|     Sedan|   automatic|yv1612t...|   ca|      4.1| 14282.0| white|   black|volvo n...|27500|       27750|Thu Jan...|
|2014|      BMW|6 Serie...|      650i|     Sedan|   automatic|wba6b2c...|   ca|      4.3|  2641.0|  gray|   black|financi...|66000|       67000|Thu Dec...|
|2015|   Nissan|    Altima|     2.5 S|     Sedan|   automatic|1n4al3a...|   ca|        1|  5554.0|  gray|   black|enterpr...|15350|       10900|Tue Dec...|
|2014|      BMW|        M5|      Base|     Sedan|   automatic|wbsfv9c...|   ca|      3.4| 14943.0| black|   black|the her...|69000|       65000|Wed Dec...|
|2014|Chevrolet|     Cruze|       1LT|     Sedan|   automatic|1g1pc5s...|   ca|        2| 28617.0| black|   black|enterpr...|11900|        9800|Tue Dec...|
|2014|     Audi|        A4|2.0T Pr...|     Sedan|   automatic|wauffaf...|   ca|      4.2|  9557.0| white|   black|audi mi...|32100|       32250|Thu Dec...|
|2014|Chevrolet|    Camaro|        LT|Convert...|   automatic|2g1fb3d...|   ca|        3|  4809.0|   red|   black|d/m aut...|26300|       17500|Tue Jan...|
|2014|     Audi|        A6|3.0T Pr...|     Sedan|   automatic|wauhgaf...|   ca|      4.8| 14414.0| black|   black|desert ...|47300|       49750|Tue Dec...|
|2015|      Kia|    Optima|        LX|     Sedan|   automatic|5xxgm4a...|   ca|      4.8|  2034.0|   red|     tan|kia mot...|15150|       17700|Tue Dec...|
|2015|     Ford|    Fusion|        SE|     Sedan|   automatic|3fa6p0h...|   ca|        2|  5559.0| white|   beige|enterpr...|15350|       12000|Tue Jan...|
|2015|      Kia|   Sorento|        LX|       SUV|   automatic|5xyktca...|   ca|        5| 14634.0|silver|   black|kia mot...|20600|       21500|Tue Dec...|
|2014|Chevrolet|     Cruze|       2LT|     Sedan|   automatic|1g1pe5s...|   ca|     null| 15686.0|  blue|   black|avis ra...|13900|       10600|Tue Dec...|
|2015|   Nissan|    Altima|     2.5 S|     Sedan|   automatic|1n4al3a...|   ca|        2| 11398.0| black|   black|enterpr...|14750|       14100|Tue Dec...|
|2015|  Hyundai|    Sonata|        SE|     Sedan|        null|5npe24a...|   ca|     null|  8311.0|   red|       —|  avis tra|15200|        4200|Tue Dec...|
|2014|     Audi|        Q5|2.0T Pr...|       SUV|   automatic|wa1lfaf...|   ca|      4.9|  7983.0| white|   black|audi no...|37100|       40000|Thu Dec...|
|2014|Chevrolet|    Camaro|        LS|     Coupe|   automatic|2g1fa1e...|   ca|      1.7| 13441.0| black|   black|wells f...|17750|       17000|Tue Dec...|
|2014|      BMW|  6 Series|      650i|Convert...|   automatic|wbayp9c...|   ca|      3.4|  8819.0| black|   black|the her...|68000|       67200|Wed Dec...|
+----+---------+----------+----------+----------+------------+----------+-----+---------+--------+------+--------+----------+-----+------------+----------+
only showing top 20 rows

In [81]:
df_pyspark_usa.columns

['year',
 'make',
 'model',
 'trim',
 'body',
 'transmission',
 'vin',
 'state',
 'condition',
 'odometer',
 'color',
 'interior',
 'seller',
 'mmr',
 'sellingprice',
 'saledate']

#### Dropping columns

In [82]:
cols ={"model","trim","vin","condition","odometer","interior","seller","mmr","saledate"}
df_pyspark_usa = df_pyspark_usa.drop(*cols)

### Looking for null values in columns:

In [83]:
df_pyspark_usa.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_pyspark_usa.columns]).show()

+----+-----+-----+------------+-----+-----+------------+
|year| make| body|transmission|state|color|sellingprice|
+----+-----+-----+------------+-----+-----+------------+
|   0|10301|13195|       65353|    0|  749|           0|
+----+-----+-----+------------+-----+-----+------------+

#### Browsing NULL values

In [84]:
df_pyspark_usa.filter(col("color").isNull()).show()

+----+-------------+-----------+------------+-----+-----+------------+
|year|         make|       body|transmission|state|color|sellingprice|
+----+-------------+-----------+------------+-----+-----+------------+
|2013|Mercedes-Benz|        SUV|        null|   ca| null|       34500|
|2012|Mercedes-Benz|        SUV|        null|   ca| null|       18500|
|2011|          BMW|      Sedan|   automatic|   ca| null|       42500|
|2011|Mercedes-Benz|      Sedan|   automatic|   ca| null|       21500|
|2011|Mercedes-Benz|      Sedan|   automatic|   ca| null|       30000|
|2011|Mercedes-Benz|      Sedan|   automatic|   ca| null|       66000|
|2010|       Subaru|        SUV|        null|   ca| null|       10000|
|2007|          BMW|        SUV|        null|   ca| null|       10400|
|2007|     Cadillac|        SUV|        null|   ca| null|       19500|
|2007|       Nissan|      Sedan|   automatic|   ca| null|        3800|
|2005|    Chevrolet|        SUV|        null|   ca| null|       27500|
|2005|      Mercury|      Sedan|        null|   ca| null|        3300|
|2003|          BMW|      Sedan|        null|   ca| null|        3700|
|2002|       Toyota|  Hatchback|        null|   ca| null|        1600|
|1996|       Jaguar|      Sedan|        null|   ca| null|        4250|
|1993|       Saturn|      Sedan|        null|   ca| null|         300|
|2013|          BMW|      Sedan|   automatic|   ca| null|       24250|
|2012|Mercedes-Benz|Convertible|   automatic|   ca| null|       42750|
|2004|       subaru|       null|   automatic|   ca| null|        5600|
|2003|       Toyota|        SUV|   automatic|   ca| null|        4300|
+----+-------------+-----------+------------+-----+-----+------------+
only showing top 20 rows

#### Removing NULL values

In [85]:
df_pyspark_usa = df_pyspark_usa.na.drop(subset=["make"])

#### Filling NULL values

In [86]:
df_pyspark_usa = df_pyspark_usa.na.fill("Not Available",["body"]) \
                    .na.fill("Not Available",["transmission"]) \
                    .na.fill("Not Available",["color"])

In [87]:
df_pyspark_usa.show()

+----+---------+-----------+-------------+-----+------+------------+
|year|     make|       body| transmission|state| color|sellingprice|
+----+---------+-----------+-------------+-----+------+------------+
|2015|      Kia|        SUV|    automatic|   ca| white|       21500|
|2015|      Kia|        SUV|    automatic|   ca| white|       21500|
|2014|      BMW|      Sedan|    automatic|   ca|  gray|       30000|
|2015|    Volvo|      Sedan|    automatic|   ca| white|       27750|
|2014|      BMW|      Sedan|    automatic|   ca|  gray|       67000|
|2015|   Nissan|      Sedan|    automatic|   ca|  gray|       10900|
|2014|      BMW|      Sedan|    automatic|   ca| black|       65000|
|2014|Chevrolet|      Sedan|    automatic|   ca| black|        9800|
|2014|     Audi|      Sedan|    automatic|   ca| white|       32250|
|2014|Chevrolet|Convertible|    automatic|   ca|   red|       17500|
|2014|     Audi|      Sedan|    automatic|   ca| black|       49750|
|2015|      Kia|      Sedan|    automatic|   ca|   red|       17700|
|2015|     Ford|      Sedan|    automatic|   ca| white|       12000|
|2015|      Kia|        SUV|    automatic|   ca|silver|       21500|
|2014|Chevrolet|      Sedan|    automatic|   ca|  blue|       10600|
|2015|   Nissan|      Sedan|    automatic|   ca| black|       14100|
|2015|  Hyundai|      Sedan|Not Available|   ca|   red|        4200|
|2014|     Audi|        SUV|    automatic|   ca| white|       40000|
|2014|Chevrolet|      Coupe|    automatic|   ca| black|       17000|
|2014|      BMW|Convertible|    automatic|   ca| black|       67200|
+----+---------+-----------+-------------+-----+------+------------+
only showing top 20 rows

### Verifying if there are no null values

In [88]:
df_pyspark_usa.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_pyspark_usa.columns]).show()

+----+----+----+------------+-----+-----+------------+
|year|make|body|transmission|state|color|sellingprice|
+----+----+----+------------+-----+-----+------------+
|   0|   0|   0|           0|    0|    0|           0|
+----+----+----+------------+-----+-----+------------+

### Looking for duplicate values in columns:

In [89]:
print("Distinct Count of rows in dataframe: " + str(df_pyspark_usa.distinct().count()))

Distinct Count of rows in dataframe: 496540

In [90]:
print("Count of rows in dataframe: " + str(df_pyspark_usa.count()))

Count of rows in dataframe: 548536

#### Removing duplicate values

In [91]:
df_pyspark_usa = df_pyspark_usa.dropDuplicates()
print("Distinct count: "+str(df_pyspark_usa.count()))

Distinct count: 496540

### Changing the name of columns

In [92]:
df_pyspark_usa.columns

['year', 'make', 'body', 'transmission', 'state', 'color', 'sellingprice']

In [93]:
df_pyspark_usa = df_pyspark_usa.withColumnRenamed("year","Year") \
                .withColumnRenamed("make","Model") \
                .withColumnRenamed("body","BodyType") \
                 .withColumnRenamed("transmission","Gear") \
                .withColumnRenamed("state","State") \
                .withColumnRenamed("color","Color") \
                .withColumnRenamed("sellingprice","Money") \
                .withColumnRenamed("saledate","SaleDate")

### Capitalizing the first letter of cell and the whole column

In [94]:
def to_capitalize_first_letter_and_upper_column(df_pyspark_usa):
    return df_pyspark_usa.withColumn("Gear", initcap(col('Gear')))  \
                                .withColumn("State", upper(col('State'))) \
                                 .withColumn("Color", initcap(col('Color')))

In [95]:
df_pyspark_usa = df_pyspark_usa.transform(to_capitalize_first_letter_and_upper_column)

In [96]:
df_pyspark_usa.show(truncate=False)

+----+-------------+---------+---------+-----+--------+-----+
|Year|Model        |BodyType |Gear     |State|Color   |Money|
+----+-------------+---------+---------+-----+--------+-----+
|2013|Hyundai      |SUV      |Automatic|CA   |Gray    |19200|
|2013|Hyundai      |Sedan    |Automatic|CA   |Gray    |8800 |
|2013|Kia          |Sedan    |Automatic|CA   |Black   |22200|
|2013|Mercedes-Benz|Coupe    |Automatic|CA   |—       |23500|
|2012|Acura        |SUV      |Automatic|CA   |White   |31000|
|2012|Infiniti     |G Sedan  |Automatic|CA   |Black   |23500|
|2012|MINI         |Hatchback|Automatic|CA   |Blue    |15000|
|2011|BMW          |Sedan    |Automatic|CA   |Black   |19000|
|2012|Volvo        |Sedan    |Automatic|CA   |Silver  |22000|
|2012|Volkswagen   |Wagon    |Automatic|CA   |White   |8100 |
|2011|Toyota       |Sedan    |Automatic|CA   |Gold    |9250 |
|2011|Ram          |Quad Cab |Automatic|CA   |Silver  |17800|
|2010|Lincoln      |Wagon    |Automatic|CA   |Burgundy|12400|
|2010|Kia          |Sedan    |Automatic|CA   |Silver  |6400 |
|2006|Toyota       |SUV      |Automatic|CA   |Red     |4800 |
|2014|Ford         |Sedan    |Automatic|CA   |Red     |11600|
|2014|Ford         |SUV      |Automatic|CA   |White   |8000 |
|2004|Chrysler     |Wagon    |Automatic|CA   |White   |400  |
|2003|Mercedes-Benz|Sedan    |Automatic|CA   |Silver  |3700 |
|2002|Ford         |SUV      |Automatic|CA   |Red     |2000 |
+----+-------------+---------+---------+-----+--------+-----+
only showing top 20 rows

### Adding a new dataframe by inner join

In [97]:
pathUSStatesAbbrev = r'D:\My commercial projects\PySpark\Project 1 PySpark\Car Prices\USStatesAbbrev.csv'

df_USStatesAbbrev = spark.read.csv(pathUSStatesAbbrev,header=True,inferSchema=True)

df_USStatesAbbrev.show(truncate=False)

+-----------+-----+------------+-----------------------------------------------------------+----+----+
|State      |Abbrv|Capital     |Nickname                                                   |_c4 |_c5 |
+-----------+-----+------------+-----------------------------------------------------------+----+----+
|Alabama    |AL   |Montgomery  |Yellowhammer State, Heart of Dixie, Camellia State         |null|null|
|Alaska     |AK   |Juneau      |The Last Frontier                                          |null|null|
|Arizona    |AZ   |Phoenix     |Grand Canyon State, Copper State                           |null|null|
|Arkansas   |AR   |Little Rock |The Natural State, Land of Opportunity, The Razorback State|null|null|
|California |CA   |Sacramento  |Golden State                                               |null|null|
|Colorado   |CO   |Denver      |Centennial State, Colorful Colorado                        |null|null|
|Connecticut|CT   |Hartford    |Constitution State, Nutmeg State                           |null|null|
|Delaware   |DE   |Dover       |First State, Diamond State, Blue Hen State, Small Wonder   |null|null|
|Florida    |FL   |Tallahassee |Sunshine State                                             |null|null|
|Georgia    |GA   |Atlanta     |Peach State, Empire of the South, Goober State             |null|null|
|Hawaii     |HI   |Honolulu    |Aloha State, Pineapple State                               |null|null|
|Idaho      |ID   |Boise       |Gem State, Spud State                                      |null|null|
|Illinois   |IL   |Springfield |Prairie State, Land of Lincoln                             |null|null|
|Indiana    |IN   |Indianapolis|Hoosier State                                              |null|null|
|Iowa       |IA   |Des Moines  |Hawkeye State                                              |null|null|
|Kansas     |KS   |Topeka      |Sunflower State, Salt of the Earth                         |null|null|
|Kentucky   |KY   |Frankfort   |Bluegrass State                                            |null|null|
|Louisiana  |LA   |Baton Rouge |Pelican State, Sugar State                                 |null|null|
|Maine      |ME   |Augusta     |Pine Tree State                                            |null|null|
|Maryland   |MD   |Annapolis   |Old Line State, Free State                                 |null|null|
+-----------+-----+------------+-----------------------------------------------------------+----+----+
only showing top 20 rows

In [98]:
df_USStatesAbbrev.columns

['State', 'Abbrv', 'Capital', 'Nickname', '_c4', '_c5']

In [99]:
cols = ( 'Nickname','_c4', '_c5')
df_USStatesAbbrev = df_USStatesAbbrev.drop(*cols)

In [100]:
df_USStatesAbbrev.show()

+-----------+-----+------------+
|      State|Abbrv|     Capital|
+-----------+-----+------------+
|    Alabama|   AL|  Montgomery|
|     Alaska|   AK|      Juneau|
|    Arizona|   AZ|     Phoenix|
|   Arkansas|   AR| Little Rock|
| California|   CA|  Sacramento|
|   Colorado|   CO|      Denver|
|Connecticut|   CT|    Hartford|
|   Delaware|   DE|       Dover|
|    Florida|   FL| Tallahassee|
|    Georgia|   GA|     Atlanta|
|     Hawaii|   HI|    Honolulu|
|      Idaho|   ID|       Boise|
|   Illinois|   IL| Springfield|
|    Indiana|   IN|Indianapolis|
|       Iowa|   IA|  Des Moines|
|     Kansas|   KS|      Topeka|
|   Kentucky|   KY|   Frankfort|
|  Louisiana|   LA| Baton Rouge|
|      Maine|   ME|     Augusta|
|   Maryland|   MD|   Annapolis|
+-----------+-----+------------+
only showing top 20 rows

In [101]:
df_pyspark_usa.join(df_USStatesAbbrev,df_pyspark_usa['State'] == df_USStatesAbbrev["Abbrv"],"inner").show(truncate=False)

+----+-------------+---------+---------+-----+--------+-----+----------+-----+----------+
|Year|Model        |BodyType |Gear     |State|Color   |Money|State     |Abbrv|Capital   |
+----+-------------+---------+---------+-----+--------+-----+----------+-----+----------+
|2013|Hyundai      |SUV      |Automatic|CA   |Gray    |19200|California|CA   |Sacramento|
|2013|Hyundai      |Sedan    |Automatic|CA   |Gray    |8800 |California|CA   |Sacramento|
|2013|Kia          |Sedan    |Automatic|CA   |Black   |22200|California|CA   |Sacramento|
|2013|Mercedes-Benz|Coupe    |Automatic|CA   |—       |23500|California|CA   |Sacramento|
|2012|Acura        |SUV      |Automatic|CA   |White   |31000|California|CA   |Sacramento|
|2012|Infiniti     |G Sedan  |Automatic|CA   |Black   |23500|California|CA   |Sacramento|
|2012|MINI         |Hatchback|Automatic|CA   |Blue    |15000|California|CA   |Sacramento|
|2011|BMW          |Sedan    |Automatic|CA   |Black   |19000|California|CA   |Sacramento|
|2012|Volvo        |Sedan    |Automatic|CA   |Silver  |22000|California|CA   |Sacramento|
|2012|Volkswagen   |Wagon    |Automatic|CA   |White   |8100 |California|CA   |Sacramento|
|2011|Toyota       |Sedan    |Automatic|CA   |Gold    |9250 |California|CA   |Sacramento|
|2011|Ram          |Quad Cab |Automatic|CA   |Silver  |17800|California|CA   |Sacramento|
|2010|Lincoln      |Wagon    |Automatic|CA   |Burgundy|12400|California|CA   |Sacramento|
|2010|Kia          |Sedan    |Automatic|CA   |Silver  |6400 |California|CA   |Sacramento|
|2006|Toyota       |SUV      |Automatic|CA   |Red     |4800 |California|CA   |Sacramento|
|2014|Ford         |Sedan    |Automatic|CA   |Red     |11600|California|CA   |Sacramento|
|2014|Ford         |SUV      |Automatic|CA   |White   |8000 |California|CA   |Sacramento|
|2004|Chrysler     |Wagon    |Automatic|CA   |White   |400  |California|CA   |Sacramento|
|2003|Mercedes-Benz|Sedan    |Automatic|CA   |Silver  |3700 |California|CA   |Sacramento|
|2002|Ford         |SUV      |Automatic|CA   |Red     |2000 |California|CA   |Sacramento|
+----+-------------+---------+---------+-----+--------+-----+----------+-----+----------+
only showing top 20 rows

In [102]:
df_pyspark_usa = df_pyspark_usa.join(df_USStatesAbbrev,df_pyspark_usa['State'] == df_USStatesAbbrev["Abbrv"],"inner").drop(df_pyspark_usa.State)

#### Browsing data after join

In [103]:
df_pyspark_usa.filter(df_pyspark_usa['Capital'] == 'Phoenix').show(truncate=False)

+----+----------+-------------+-------------+--------+-----+-------+-----+-------+
|Year|Model     |BodyType     |Gear         |Color   |Money|State  |Abbrv|Capital|
+----+----------+-------------+-------------+--------+-----+-------+-----+-------+
|2006|Jeep      |SUV          |Not Available|White   |6000 |Arizona|AZ   |Phoenix|
|2004|Chevrolet |Extended Cab |Not Available|White   |5700 |Arizona|AZ   |Phoenix|
|2004|chevrolet |Not Available|Automatic    |Black   |15100|Arizona|AZ   |Phoenix|
|2001|Audi      |Sedan        |Automatic    |Beige   |600  |Arizona|AZ   |Phoenix|
|2014|Toyota    |Sedan        |Automatic    |Blue    |15750|Arizona|AZ   |Phoenix|
|2012|Nissan    |Crew Cab     |Automatic    |White   |17500|Arizona|AZ   |Phoenix|
|2013|Ford      |Sedan        |Automatic    |Gray    |13100|Arizona|AZ   |Phoenix|
|2011|Dodge     |Sedan        |Automatic    |Black   |7500 |Arizona|AZ   |Phoenix|
|2011|Mazda     |SUV          |Not Available|Black   |11500|Arizona|AZ   |Phoenix|
|2014|Dodge     |Minivan      |Automatic    |White   |16200|Arizona|AZ   |Phoenix|
|2005|Ford      |SUV          |Automatic    |Gray    |3500 |Arizona|AZ   |Phoenix|
|2003|Acura     |SUV          |Automatic    |Silver  |3000 |Arizona|AZ   |Phoenix|
|2013|Nissan    |SUV          |Automatic    |Blue    |13400|Arizona|AZ   |Phoenix|
|2007|Chrysler  |SUV          |Automatic    |Burgundy|4600 |Arizona|AZ   |Phoenix|
|2012|Nissan    |Hatchback    |Automatic    |Silver  |8700 |Arizona|AZ   |Phoenix|
|2011|Toyota    |Double Cab   |Automatic    |Red     |14000|Arizona|AZ   |Phoenix|
|2009|Honda     |SUV          |Automatic    |Silver  |15000|Arizona|AZ   |Phoenix|
|2009|Volkswagen|Sedan        |Manual       |Black   |6700 |Arizona|AZ   |Phoenix|
|2004|Nissan    |Sedan        |Not Available|White   |1450 |Arizona|AZ   |Phoenix|
|2013|Cadillac  |Sedan        |Automatic    |White   |17400|Arizona|AZ   |Phoenix|
+----+----------+-------------+-------------+--------+-----+-------+-----+-------+
only showing top 20 rows

### Basic information after cleaning

In [104]:
df_pyspark_usa.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Model: string (nullable = true)
 |-- BodyType: string (nullable = false)
 |-- Gear: string (nullable = false)
 |-- Color: string (nullable = false)
 |-- Money: integer (nullable = true)
 |-- State: string (nullable = true)
 |-- Abbrv: string (nullable = true)
 |-- Capital: string (nullable = true)

In [105]:
df_pyspark_usa.show()

+----+-------------+---------+---------+--------+-----+----------+-----+----------+
|Year|        Model| BodyType|     Gear|   Color|Money|     State|Abbrv|   Capital|
+----+-------------+---------+---------+--------+-----+----------+-----+----------+
|2013|      Hyundai|      SUV|Automatic|    Gray|19200|California|   CA|Sacramento|
|2013|      Hyundai|    Sedan|Automatic|    Gray| 8800|California|   CA|Sacramento|
|2013|          Kia|    Sedan|Automatic|   Black|22200|California|   CA|Sacramento|
|2013|Mercedes-Benz|    Coupe|Automatic|       —|23500|California|   CA|Sacramento|
|2012|        Acura|      SUV|Automatic|   White|31000|California|   CA|Sacramento|
|2012|     Infiniti|  G Sedan|Automatic|   Black|23500|California|   CA|Sacramento|
|2012|         MINI|Hatchback|Automatic|    Blue|15000|California|   CA|Sacramento|
|2011|          BMW|    Sedan|Automatic|   Black|19000|California|   CA|Sacramento|
|2012|        Volvo|    Sedan|Automatic|  Silver|22000|California|   CA|Sacramento|
|2012|   Volkswagen|    Wagon|Automatic|   White| 8100|California|   CA|Sacramento|
|2011|       Toyota|    Sedan|Automatic|    Gold| 9250|California|   CA|Sacramento|
|2011|          Ram| Quad Cab|Automatic|  Silver|17800|California|   CA|Sacramento|
|2010|      Lincoln|    Wagon|Automatic|Burgundy|12400|California|   CA|Sacramento|
|2010|          Kia|    Sedan|Automatic|  Silver| 6400|California|   CA|Sacramento|
|2006|       Toyota|      SUV|Automatic|     Red| 4800|California|   CA|Sacramento|
|2014|         Ford|    Sedan|Automatic|     Red|11600|California|   CA|Sacramento|
|2014|         Ford|      SUV|Automatic|   White| 8000|California|   CA|Sacramento|
|2004|     Chrysler|    Wagon|Automatic|   White|  400|California|   CA|Sacramento|
|2003|Mercedes-Benz|    Sedan|Automatic|  Silver| 3700|California|   CA|Sacramento|
|2002|         Ford|      SUV|Automatic|     Red| 2000|California|   CA|Sacramento|
+----+-------------+---------+---------+--------+-----+----------+-----+----------+
only showing top 20 rows

# Analysis of data

### df_pyspark_arg

In [106]:
df_pyspark_arg.show(25,10)

+----------+----------+----+---------+--------+----+---------+----------+---------+----------+--------+--------+---------+
|     Brand|     Model|Year|    Color|FuelType|Door|     Gear|     Motor| BodyType|Kilometres|Currency|   Money|Money USD|
+----------+----------+----+---------+--------+----+---------+----------+---------+----------+--------+--------+---------+
|    Toyota|Corolla...|2022|   Silver| Naphtha|   5|Automatic|Not ava...|      SUV|       500|   Pesos|10350000|   558900|
|      Jeep|   Compass|2022|    White| Naphtha|   5|Automatic|       2.4|      SUV|       500|   Pesos|10850000|   585900|
|      Jeep|   Compass|2022|Dark gray| Naphtha|   5|Automatic|       2.4|      SUV|       500| Dollars|   35500|    35500|
|   Citroën| C4 Cactus|2022|Dark gray| Naphtha|   5|Automatic|Not ava...|      SUV|       550| Dollars|   19000|    19000|
|    Toyota|   Corolla|2019|     Gray| Naphtha|   4|   Manual|       1.8|    Sedán|      9000|   Pesos| 5800000|   313200|
|      Jeep|   Compass|2022|    Black| Naphtha|   5|Automatic|       1.3|      SUV|     10500| Dollars|   34500|    34500|
|       Kia|   Sorento|2014|    Black|  Diesel|   5|Automatic|       2.2|      SUV|    156000| Dollars|   25000|    25000|
|Mercede...|   Clase C|2008|   Silver| Naphtha|   4|Automatic|       1.8|    Sedán|    174000| Dollars|   12300|    12300|
|       BMW|       220|2016|    White| Naphtha|   2|Automatic|     TURBO|    Coupé|     66000| Dollars|   35500|    35500|
|Volkswagen|   T-Cross|2019|   Orange| Naphtha|   5|Automatic|1.6 MSI...|      SUV|     35000|   Pesos| 6800000|   367200|
|Mercede...|   Clase A|2017|   Silver| Naphtha|   5|Automatic|         3|Hatchback|     55394| Dollars|   38500|    38500|
|Mercede...|   Clase A|2013|    White| Naphtha|   5|   Manual|       1.6|Hatchback|    162080| Dollars|   20500|    20500|
|   Renault|   Sandero|2022|   Silver| Naphtha|   5|   Manual|Not ava...|    Sedán|    111111|   Pesos| 3500000|   189000|
|Volkswagen|      Polo|2022|    White| Naphtha|   5|   Manual|       1.6|Hatchback|    111111|   Pesos| 5990000|   323460|
|       BMW|   Serie 1|2020|    Black| Naphtha|   5|Automatic|Not ava...|Hatchback|     34800| Dollars|   41900|    41900|
|      Ford|  Ecosport|2011|    Beige| Naphtha|   4|   Manual|       1.6|      SUV|    101000|   Pesos| 2100000|   113400|
| Chevrolet|Trailbl...|2019|     Gray|  Diesel|   5|Automatic|Not ava...|      SUV|     73000| Dollars|   38500|    38500|
|    Toyota|     Etios|2015|    White| Naphtha|   5|   Manual|       1.5|Hatchback|     83000|   Pesos| 2940000|   158760|
|   Renault|      Clio|2014|     Gray| Naphtha|   5|   Manual|       1.2|Hatchback|     99000|   Pesos| 2050000|   110700|
|    Toyota|      RAV4|2011|     Gray| Naphtha|   5|Automatic|       2.4|      SUV|    180000|   Pesos| 4120000|   222480|
|    Toyota|     Etios|2018|     Gray| Naphtha|   5|   Manual|       1.5|    Sedán|     80000|   Pesos| 4100000|   221400|
|      Mini|    Cooper|2013|      Red| Naphtha|   5|   Manual|       1.6|Hatchback|    105000| Dollars|   15000|    15000|
|      Jeep|  Renegade|2018|      Red| Naphtha|   5|   Manual|       1.8|      SUV|     78000|   Pesos| 5099000|   275346|
|    Toyota|     Hilux|2017|      Red|  Diesel|   4|   Manual|       2.8|  Pick-Up|    170000|   Pesos| 8300000|   448200|
|      Fiat|     Bravo|2013|    Black| Naphtha|   5|   Manual|Not ava...|Hatchback|    124000|   Pesos| 2800000|   151200|
+----------+----------+----+---------+--------+----+---------+----------+---------+----------+--------+--------+---------+
only showing top 25 rows

In [107]:
df_pyspark_argSELECTCol = df_pyspark_arg.select("Brand","Model","Year","Color","Money USD")

In [108]:
df_pyspark_argSELECTCol.show()

+-------------+-------------+----+---------+---------+
|        Brand|        Model|Year|    Color|Money USD|
+-------------+-------------+----+---------+---------+
|       Toyota|Corolla Cross|2022|   Silver|   558900|
|         Jeep|      Compass|2022|    White|   585900|
|         Jeep|      Compass|2022|Dark gray|    35500|
|      Citroën|    C4 Cactus|2022|Dark gray|    19000|
|       Toyota|      Corolla|2019|     Gray|   313200|
|         Jeep|      Compass|2022|    Black|    34500|
|          Kia|      Sorento|2014|    Black|    25000|
|Mercedes-Benz|      Clase C|2008|   Silver|    12300|
|          BMW|          220|2016|    White|    35500|
|   Volkswagen|      T-Cross|2019|   Orange|   367200|
|Mercedes-Benz|      Clase A|2017|   Silver|    38500|
|Mercedes-Benz|      Clase A|2013|    White|    20500|
|      Renault|      Sandero|2022|   Silver|   189000|
|   Volkswagen|         Polo|2022|    White|   323460|
|          BMW|      Serie 1|2020|    Black|    41900|
|         Ford|     Ecosport|2011|    Beige|   113400|
|    Chevrolet|  Trailblazer|2019|     Gray|    38500|
|       Toyota|        Etios|2015|    White|   158760|
|      Renault|         Clio|2014|     Gray|   110700|
|       Toyota|         RAV4|2011|     Gray|   222480|
+-------------+-------------+----+---------+---------+
only showing top 20 rows

In [109]:
df_pyspark_argSELECTCol.orderBy(desc("Money USD")).show()

+----------+---------------+----+-----+---------+
|     Brand|          Model|Year|Color|Money USD|
+----------+---------------+----+-----+---------+
|Volkswagen|         Amarok|2022|White|   772146|
| Chevrolet|    Trailblazer|2021| Gray|   753294|
|    Toyota|  Corolla Cross|2022|Black|   674460|
|    Toyota|          Hilux|2019|White|   674406|
|    Toyota|          Hilux|2019| Gray|   669600|
|       RAM|           1500|2017| Gray|   647454|
|    Toyota|          Hilux|2019| Gray|   642600|
|    Toyota|          Hilux|2019| Gray|   642600|
|Volkswagen|           Taos|2022| Gray|   642060|
|      Ford|         Ranger|2021| Gray|   639900|
|      Ford|      Territory|2022|White|   615600|
|    Toyota|  Corolla Cross|2022|  Red|   609660|
|      Ford|      Territory|2022|Black|   609660|
|    Toyota|          Hilux|2021| Gray|   604800|
|Volkswagen|           Golf|2019|White|   604530|
|Volkswagen|Tiguan Allspace|2021| Gray|   588600|
|Volkswagen|Tiguan Allspace|2021| Gray|   588600|
|Volkswagen|Tiguan Allspace|2021| Gray|   588600|
|Volkswagen|Tiguan Allspace|2021| Gray|   588600|
|      Jeep|        Compass|2022|White|   585900|
+----------+---------------+----+-----+---------+
only showing top 20 rows

In [110]:
df_pyspark_argSELECTCol.orderBy(desc("Money USD")).limit(10).show()

+----------+-------------+----+-----+---------+
|     Brand|        Model|Year|Color|Money USD|
+----------+-------------+----+-----+---------+
|Volkswagen|       Amarok|2022|White|   772146|
| Chevrolet|  Trailblazer|2021| Gray|   753294|
|    Toyota|Corolla Cross|2022|Black|   674460|
|    Toyota|        Hilux|2019|White|   674406|
|    Toyota|        Hilux|2019| Gray|   669600|
|       RAM|         1500|2017| Gray|   647454|
|    Toyota|        Hilux|2019| Gray|   642600|
|    Toyota|        Hilux|2019| Gray|   642600|
|Volkswagen|         Taos|2022| Gray|   642060|
|      Ford|       Ranger|2021| Gray|   639900|
+----------+-------------+----+-----+---------+

In [111]:
df_pyspark_argSELECTCol.withColumnRenamed("Money USD","Money").show()

+-------------+-------------+----+---------+------+
|        Brand|        Model|Year|    Color| Money|
+-------------+-------------+----+---------+------+
|       Toyota|Corolla Cross|2022|   Silver|558900|
|         Jeep|      Compass|2022|    White|585900|
|         Jeep|      Compass|2022|Dark gray| 35500|
|      Citroën|    C4 Cactus|2022|Dark gray| 19000|
|       Toyota|      Corolla|2019|     Gray|313200|
|         Jeep|      Compass|2022|    Black| 34500|
|          Kia|      Sorento|2014|    Black| 25000|
|Mercedes-Benz|      Clase C|2008|   Silver| 12300|
|          BMW|          220|2016|    White| 35500|
|   Volkswagen|      T-Cross|2019|   Orange|367200|
|Mercedes-Benz|      Clase A|2017|   Silver| 38500|
|Mercedes-Benz|      Clase A|2013|    White| 20500|
|      Renault|      Sandero|2022|   Silver|189000|
|   Volkswagen|         Polo|2022|    White|323460|
|          BMW|      Serie 1|2020|    Black| 41900|
|         Ford|     Ecosport|2011|    Beige|113400|
|    Chevrolet|  Trailblazer|2019|     Gray| 38500|
|       Toyota|        Etios|2015|    White|158760|
|      Renault|         Clio|2014|     Gray|110700|
|       Toyota|         RAV4|2011|     Gray|222480|
+-------------+-------------+----+---------+------+
only showing top 20 rows

In [112]:
df_pyspark_argSELECTCol.filter(df_pyspark_argSELECTCol['Money USD'] > 500000).show()

+----------+---------------+----+------+---------+
|     Brand|          Model|Year| Color|Money USD|
+----------+---------------+----+------+---------+
|    Toyota|  Corolla Cross|2022|Silver|   558900|
|      Jeep|        Compass|2022| White|   585900|
|    Toyota|          Hilux|2022| Black|   550800|
| Chevrolet|        Equinox|2021|Silver|   507054|
|    Toyota|  Corolla Cross|2022|   Red|   609660|
|    Toyota|          Hilux|2019|  Gray|   642600|
|      Ford|         Ranger|2018|  Gray|   513027|
|    Toyota|          Hilux|2019|  Gray|   669600|
|Volkswagen|Tiguan Allspace|2021|  Gray|   588600|
|Volkswagen|         Amarok|2019|  Blue|   510300|
|      Ford|      Territory|2021| White|   502200|
|    Toyota|  Corolla Cross|2022| Black|   674460|
| Chevrolet|    Trailblazer|2021|  Gray|   753294|
|    Toyota|          Hilux|2019| White|   674406|
|   Peugeot|           3008|2020|  Gray|   567000|
|    Toyota|          Hilux|2019|  Gray|   642600|
|Volkswagen|Tiguan Allspace|2021|  Gray|   588600|
|      Ford|         Ranger|2021|  Gray|   639900|
|    Toyota|          Hilux|2021|  Gray|   604800|
|Volkswagen|           Taos|2022|  Gray|   642060|
+----------+---------------+----+------+---------+
only showing top 20 rows

In [113]:
df_pyspark_argSELECTCol.filter((df_pyspark_argSELECTCol['Money USD'] > 500000) & 
                               (df_pyspark_argSELECTCol['Brand'] == 'Volkswagen')) .show()

+----------+---------------+----+-----+---------+
|     Brand|          Model|Year|Color|Money USD|
+----------+---------------+----+-----+---------+
|Volkswagen|Tiguan Allspace|2021| Gray|   588600|
|Volkswagen|         Amarok|2019| Blue|   510300|
|Volkswagen|Tiguan Allspace|2021| Gray|   588600|
|Volkswagen|           Taos|2022| Gray|   642060|
|Volkswagen|           Golf|2019|White|   604530|
|Volkswagen|         Amarok|2022|White|   772146|
|Volkswagen|Tiguan Allspace|2021| Gray|   588600|
|Volkswagen|Tiguan Allspace|2021| Gray|   588600|
+----------+---------------+----+-----+---------+

In [114]:
df_pyspark_argSELECTCol.filter((df_pyspark_argSELECTCol['Money USD'] > 500000) |
                              (df_pyspark_argSELECTCol['Brand'] == 'Ford')).show()

+---------+-------------+----+------+---------+
|    Brand|        Model|Year| Color|Money USD|
+---------+-------------+----+------+---------+
|   Toyota|Corolla Cross|2022|Silver|   558900|
|     Jeep|      Compass|2022| White|   585900|
|     Ford|     Ecosport|2011| Beige|   113400|
|     Ford|     Ecosport|2019|  Gray|   243000|
|     Ford|       Ranger|2021| White|   405000|
|   Toyota|        Hilux|2022| Black|   550800|
|     Ford|       Fiesta|2016|   Red|   170100|
|Chevrolet|      Equinox|2021|Silver|   507054|
|     Ford|         Kuga|2013| White|   202500|
|   Toyota|Corolla Cross|2022|   Red|   609660|
|     Ford|    Focus III|2017|  Blue|   202500|
|     Ford|     Ecosport|2014| Black|   172254|
|     Ford|           Ka|2019| White|   172254|
|     Ford|    Focus III|2016|  Gray|   228798|
|   Toyota|        Hilux|2019|  Gray|   642600|
|     Ford|     Focus II|2009|Golden|   113427|
|     Ford|    Focus III|2018|  Gray|   285654|
|     Ford|    Focus III|2014|Silver|   116100|
|     Ford|       Ranger|2018|  Gray|   513027|
|   Toyota|        Hilux|2019|  Gray|   669600|
+---------+-------------+----+------+---------+
only showing top 20 rows

In [115]:
df_pyspark_argSELECTCol.filter(df_pyspark_argSELECTCol['Brand'].like("M%")).show()

+-------------+-----------------+----+------+---------+
|        Brand|            Model|Year| Color|Money USD|
+-------------+-----------------+----+------+---------+
|Mercedes-Benz|          Clase C|2008|Silver|    12300|
|Mercedes-Benz|          Clase A|2017|Silver|    38500|
|Mercedes-Benz|          Clase A|2013| White|    20500|
|         Mini|           Cooper|2013|   Red|    15000|
|Mercedes-Benz|          Clase E|2014| White|    32000|
|Mercedes-Benz|          Clase E|2019|  Gray|   185000|
|Mercedes-Benz|          Clase A|2013| Black|    17500|
|   Mitsubishi|             L200|2016|  Gray|   350460|
|Mercedes-Benz|          Clase C|2008|Silver|    10599|
|Mercedes-Benz|        Clase GLA|2015| Black|    34990|
|Mercedes-Benz|          Clase C|2009|  Blue|    14500|
|Mercedes-Benz|        Clase GLA|2017|  Gray|    43990|
|Mercedes-Benz|         Sprinter|2018| White|   499500|
|Mercedes-Benz|          Clase A|2017|Silver|    31000|
|Mercedes-Benz|          Clase A|2017| White|    46999|
|         Mini|Cooper Countryman|2014|  Blue|    19500|
|Mercedes-Benz|         Sprinter|2015| White|   355854|
|   Mitsubishi|        Outlander|2012| Black|    13499|
+-------------+-----------------+----+------+---------+

In [116]:
df_pyspark_argSELECTCol.filter(df_pyspark_argSELECTCol['Money USD'].between("600000","700000")).show()

+----------+-------------+----+-----+---------+
|     Brand|        Model|Year|Color|Money USD|
+----------+-------------+----+-----+---------+
|    Toyota|Corolla Cross|2022|  Red|   609660|
|    Toyota|        Hilux|2019| Gray|   642600|
|    Toyota|        Hilux|2019| Gray|   669600|
|    Toyota|Corolla Cross|2022|Black|   674460|
|    Toyota|        Hilux|2019|White|   674406|
|    Toyota|        Hilux|2019| Gray|   642600|
|      Ford|       Ranger|2021| Gray|   639900|
|    Toyota|        Hilux|2021| Gray|   604800|
|Volkswagen|         Taos|2022| Gray|   642060|
|Volkswagen|         Golf|2019|White|   604530|
|      Ford|    Territory|2022|White|   615600|
|       RAM|         1500|2017| Gray|   647454|
|      Ford|    Territory|2022|Black|   609660|
+----------+-------------+----+-----+---------+

In [117]:
df_pyspark_argSELECTCol.filter(df_pyspark_argSELECTCol["Brand"] != 'Toyota').select("*").show()

+-------------+-----------+----+---------+---------+
|        Brand|      Model|Year|    Color|Money USD|
+-------------+-----------+----+---------+---------+
|         Jeep|    Compass|2022|    White|   585900|
|         Jeep|    Compass|2022|Dark gray|    35500|
|      Citroën|  C4 Cactus|2022|Dark gray|    19000|
|         Jeep|    Compass|2022|    Black|    34500|
|          Kia|    Sorento|2014|    Black|    25000|
|Mercedes-Benz|    Clase C|2008|   Silver|    12300|
|          BMW|        220|2016|    White|    35500|
|   Volkswagen|    T-Cross|2019|   Orange|   367200|
|Mercedes-Benz|    Clase A|2017|   Silver|    38500|
|Mercedes-Benz|    Clase A|2013|    White|    20500|
|      Renault|    Sandero|2022|   Silver|   189000|
|   Volkswagen|       Polo|2022|    White|   323460|
|          BMW|    Serie 1|2020|    Black|    41900|
|         Ford|   Ecosport|2011|    Beige|   113400|
|    Chevrolet|Trailblazer|2019|     Gray|    38500|
|      Renault|       Clio|2014|     Gray|   110700|
|         Mini|     Cooper|2013|      Red|    15000|
|         Jeep|   Renegade|2018|      Red|   275346|
|         Fiat|      Bravo|2013|    Black|   151200|
|         Ford|   Ecosport|2019|     Gray|   243000|
+-------------+-----------+----+---------+---------+
only showing top 20 rows

In [118]:
Brands = ['BMW','Mercedes-Benz','Volkswagen']

df_pyspark_argSELECTCol.filter(df_pyspark_argSELECTCol['Brand'].isin(Brands)).show()

+-------------+---------+----+------+---------+
|        Brand|    Model|Year| Color|Money USD|
+-------------+---------+----+------+---------+
|Mercedes-Benz|  Clase C|2008|Silver|    12300|
|          BMW|      220|2016| White|    35500|
|   Volkswagen|  T-Cross|2019|Orange|   367200|
|Mercedes-Benz|  Clase A|2017|Silver|    38500|
|Mercedes-Benz|  Clase A|2013| White|    20500|
|   Volkswagen|     Polo|2022| White|   323460|
|          BMW|  Serie 1|2020| Black|    41900|
|Mercedes-Benz|  Clase E|2014| White|    32000|
|Mercedes-Benz|  Clase E|2019|  Gray|   185000|
|   Volkswagen|      Up!|2015| White|   135000|
|   Volkswagen|    Vento|2018| White|   458460|
|   Volkswagen|    Nivus|2021| White|   407700|
|   Volkswagen|Gol Trend|2015|Silver|   105840|
|   Volkswagen|    Vento|2015|Silver|   113400|
|   Volkswagen|      Up!|2018| White|    89100|
|   Volkswagen|      Gol|2012| Black|    83700|
|   Volkswagen|    Vento|2017|  Gray|   405000|
|   Volkswagen|   Amarok|2016| Black|   351000|
|   Volkswagen|     Golf|2016|Silver|    16000|
|   Volkswagen|   Amarok|2016| Black|   351000|
+-------------+---------+----+------+---------+
only showing top 20 rows

In [119]:
df_pyspark_argSELECTCol.filter(~df_pyspark_argSELECTCol['Brand'].isin('Jeep','Toyota','Ford')).show()

+-------------+-----------+----+---------+---------+
|        Brand|      Model|Year|    Color|Money USD|
+-------------+-----------+----+---------+---------+
|      Citroën|  C4 Cactus|2022|Dark gray|    19000|
|          Kia|    Sorento|2014|    Black|    25000|
|Mercedes-Benz|    Clase C|2008|   Silver|    12300|
|          BMW|        220|2016|    White|    35500|
|   Volkswagen|    T-Cross|2019|   Orange|   367200|
|Mercedes-Benz|    Clase A|2017|   Silver|    38500|
|Mercedes-Benz|    Clase A|2013|    White|    20500|
|      Renault|    Sandero|2022|   Silver|   189000|
|   Volkswagen|       Polo|2022|    White|   323460|
|          BMW|    Serie 1|2020|    Black|    41900|
|    Chevrolet|Trailblazer|2019|     Gray|    38500|
|      Renault|       Clio|2014|     Gray|   110700|
|         Mini|     Cooper|2013|      Red|    15000|
|         Fiat|      Bravo|2013|    Black|   151200|
|    Chevrolet|    Classic|2014|     Gray|   129600|
|      Renault|     Master|2013|    White|   280800|
|      Peugeot|        408|2013|Dark gray|   132300|
|        Honda|       CR-V|2013|    White|   280800|
|        Dodge|    Journey|2011|    White|   132300|
|         Fiat|      Siena|2017|     Gray|   139590|
+-------------+-----------+----+---------+---------+
only showing top 20 rows

In [120]:
df_pyspark_argSELECTCol.groupBy("Brand").agg(count("*").alias("Count")).select("Brand","Count").orderBy(desc("Count")).show(50,50)

+-------------+-----+
|        Brand|Count|
+-------------+-----+
|   Volkswagen|   88|
|         Ford|   57|
|    Chevrolet|   51|
|      Peugeot|   49|
|       Toyota|   47|
|      Renault|   45|
|      Citroën|   32|
|         Fiat|   25|
|         Jeep|   20|
|        Honda|   18|
|Mercedes-Benz|   14|
|          BMW|   13|
|      Hyundai|    9|
|       Nissan|    8|
|         Audi|    8|
|          RAM|    6|
|        Dodge|    4|
|          Kia|    3|
|   Mitsubishi|    2|
|         Mini|    2|
|        Volvo|    2|
|           DS|    2|
|         Baic|    1|
|       Suzuki|    1|
|        Chery|    1|
|      Porsche|    1|
|       Subaru|    1|
+-------------+-----+

In [121]:
df_pyspark_argSELECTCol.groupBy("Color").agg(count("*").alias("Count")).select("Color","Count").orderBy(desc("Count")).show(50,50)

+-------------+-----+
|        Color|Count|
+-------------+-----+
|         Gray|  158|
|        White|  150|
|        Black|   60|
|       Silver|   53|
|         Blue|   25|
|          Red|   24|
|Not available|   11|
|       Golden|    8|
|        Brown|    4|
|       Violet|    4|
|    Celestial|    4|
|       Orange|    3|
|    Dark gray|    3|
|        Green|    2|
|        Beige|    1|
+-------------+-----+

In [122]:
df_pyspark_argSELECTCol.groupBy("Year").agg(count("*").alias("Count")).select("Year","Count").orderBy(desc("Count")).show(50,50)

+----+-----+
|Year|Count|
+----+-----+
|2017|   74|
|2018|   63|
|2019|   57|
|2016|   53|
|2014|   43|
|2013|   34|
|2022|   33|
|2015|   31|
|2020|   26|
|2021|   26|
|2011|   22|
|2012|   21|
|2009|    8|
|2008|    7|
|2010|    7|
|2007|    1|
|1997|    1|
|1996|    1|
|2000|    1|
|1995|    1|
+----+-----+

In [123]:
df_pyspark_argSELECTCol.groupBy("Brand").agg(avg("Money USD").alias("Avg Money USD"),
                                            min("Money USD").alias("Min Money USD"),
                                            max("Money USD").alias("Max Money USD"),
                                            sum("Money USD").alias("Total Money USD")).show()

+-------------+------------------+-------------+-------------+---------------+
|        Brand|     Avg Money USD|Min Money USD|Max Money USD|Total Money USD|
+-------------+------------------+-------------+-------------+---------------+
|   Volkswagen|263707.82954545453|         8000|       772146|       23206289|
|      Peugeot|191850.81632653062|        17900|       567000|        9400690|
|         Jeep|          277666.3|        15990|       585900|        5553326|
|   Mitsubishi|          181979.5|        13499|       350460|         363959|
|          Kia|120786.66666666667|        13900|       323460|         362360|
|         Mini|           17250.0|        15000|        19500|          34500|
|    Chevrolet| 202559.9019607843|        38500|       753294|       10330555|
|          RAM|170557.33333333334|        64900|       647454|        1023344|
|        Volvo|            9450.0|         8900|        10000|          18900|
|         Baic|          312120.0|       312120|       312120|         312120|
|      Hyundai|252356.44444444444|        23500|       426060|        2271208|
|        Honda|250437.88888888888|        16500|       415800|        4507882|
|         Audi|         239082.75|        14900|       430000|        1912662|
|Mercedes-Benz| 95945.14285714286|        10599|       499500|        1343232|
|      Renault|185776.57777777777|        86130|       334260|        8359946|
|          BMW| 82523.84615384616|        12500|       295920|        1072810|
|       Suzuki|          102330.0|       102330|       102330|         102330|
|        Chery|          178200.0|       178200|       178200|         178200|
|      Porsche|           79900.0|        79900|        79900|          79900|
|           DS|          559434.0|       559434|       559434|        1118868|
+-------------+------------------+-------------+-------------+---------------+
only showing top 20 rows

In [124]:
df_pyspark_argSELECTCol.groupBy("Brand").agg(avg(col("Money USD")
                                            .cast("double"))
                                            .alias("Money")).filter(col("Money") > 250000).select("Brand","Money").show()

+----------+------------------+
|     Brand|             Money|
+----------+------------------+
|Volkswagen|263707.82954545453|
|      Jeep|          277666.3|
|      Baic|          312120.0|
|   Hyundai|252356.44444444444|
|     Honda|250437.88888888888|
|        DS|          559434.0|
|    Toyota| 297632.6808510638|
|     Dodge|          398655.0|
+----------+------------------+

In [125]:
df_pyspark_argSELECTCol.select("Brand").distinct().show(50,50)

+-------------+
|        Brand|
+-------------+
|   Volkswagen|
|      Peugeot|
|         Jeep|
|   Mitsubishi|
|          Kia|
|         Mini|
|    Chevrolet|
|          RAM|
|        Volvo|
|         Baic|
|      Hyundai|
|        Honda|
|         Audi|
|Mercedes-Benz|
|      Renault|
|          BMW|
|       Suzuki|
|        Chery|
|      Porsche|
|           DS|
|      Citroën|
|       Toyota|
|        Dodge|
|       Nissan|
|         Fiat|
|         Ford|
|       Subaru|
+-------------+

In [126]:
df_pyspark_argSELECTCol.select("Brand").distinct().show(50,50)

+-------------+
|        Brand|
+-------------+
|   Volkswagen|
|      Peugeot|
|         Jeep|
|   Mitsubishi|
|          Kia|
|         Mini|
|    Chevrolet|
|          RAM|
|        Volvo|
|         Baic|
|      Hyundai|
|        Honda|
|         Audi|
|Mercedes-Benz|
|      Renault|
|          BMW|
|       Suzuki|
|        Chery|
|      Porsche|
|           DS|
|      Citroën|
|       Toyota|
|        Dodge|
|       Nissan|
|         Fiat|
|         Ford|
|       Subaru|
+-------------+

In [127]:
df_pyspark_arg.select("BodyType").distinct().show(50,50)

+-------------+
|     BodyType|
+-------------+
|Not available|
|    Hatchback|
|        Sedán|
|    Crossover|
|       Furgón|
|          SUV|
|  Monovolumen|
|      Pick-Up|
|      Minivan|
|        Rural|
|        Coupé|
+-------------+

In [128]:
df_pyspark_arg.select("FuelType").distinct().show(50,50)

+--------------+
|      FuelType|
+--------------+
|   Naphtha/CNG|
|        Diesel|
|Hybrid/Naphtha|
|       Naphtha|
+--------------+

In [129]:
df_pyspark_arg.select("Gear").distinct().show(50,50)

+-------------+
|         Gear|
+-------------+
|Not available|
|    Automatic|
|       Manual|
+-------------+

In [130]:
df_pyspark_argSELECTCol.withColumn("Money EURO",df_pyspark_argSELECTCol['Money USD'] * 0.92).show()

+-------------+-------------+----+---------+---------+----------+
|        Brand|        Model|Year|    Color|Money USD|Money EURO|
+-------------+-------------+----+---------+---------+----------+
|       Toyota|Corolla Cross|2022|   Silver|   558900|  514188.0|
|         Jeep|      Compass|2022|    White|   585900|  539028.0|
|         Jeep|      Compass|2022|Dark gray|    35500|   32660.0|
|      Citroën|    C4 Cactus|2022|Dark gray|    19000|   17480.0|
|       Toyota|      Corolla|2019|     Gray|   313200|  288144.0|
|         Jeep|      Compass|2022|    Black|    34500|   31740.0|
|          Kia|      Sorento|2014|    Black|    25000|   23000.0|
|Mercedes-Benz|      Clase C|2008|   Silver|    12300|   11316.0|
|          BMW|          220|2016|    White|    35500|   32660.0|
|   Volkswagen|      T-Cross|2019|   Orange|   367200|  337824.0|
|Mercedes-Benz|      Clase A|2017|   Silver|    38500|   35420.0|
|Mercedes-Benz|      Clase A|2013|    White|    20500|   18860.0|
|      Renault|      Sandero|2022|   Silver|   189000|  173880.0|
|   Volkswagen|         Polo|2022|    White|   323460|  297583.2|
|          BMW|      Serie 1|2020|    Black|    41900|   38548.0|
|         Ford|     Ecosport|2011|    Beige|   113400|  104328.0|
|    Chevrolet|  Trailblazer|2019|     Gray|    38500|   35420.0|
|       Toyota|        Etios|2015|    White|   158760|  146059.2|
|      Renault|         Clio|2014|     Gray|   110700|  101844.0|
|       Toyota|         RAV4|2011|     Gray|   222480|  204681.6|
+-------------+-------------+----+---------+---------+----------+
only showing top 20 rows

In [131]:
df_pyspark_argSELECTCol.select(df_pyspark_argSELECTCol["Brand"],substring(df_pyspark_argSELECTCol["Brand"],1,2).alias("left"),
                               substring(df_pyspark_argSELECTCol["Brand"],-2,2).alias("right"),
                               substring(df_pyspark_argSELECTCol["Brand"],3,2).alias("substring")).show()

+-------------+----+-----+---------+
|        Brand|left|right|substring|
+-------------+----+-----+---------+
|       Toyota|  To|   ta|       yo|
|         Jeep|  Je|   ep|       ep|
|         Jeep|  Je|   ep|       ep|
|      Citroën|  Ci|   ën|       tr|
|       Toyota|  To|   ta|       yo|
|         Jeep|  Je|   ep|       ep|
|          Kia|  Ki|   ia|        a|
|Mercedes-Benz|  Me|   nz|       rc|
|          BMW|  BM|   MW|        W|
|   Volkswagen|  Vo|   en|       lk|
|Mercedes-Benz|  Me|   nz|       rc|
|Mercedes-Benz|  Me|   nz|       rc|
|      Renault|  Re|   lt|       na|
|   Volkswagen|  Vo|   en|       lk|
|          BMW|  BM|   MW|        W|
|         Ford|  Fo|   rd|       rd|
|    Chevrolet|  Ch|   et|       ev|
|       Toyota|  To|   ta|       yo|
|      Renault|  Re|   lt|       na|
|       Toyota|  To|   ta|       yo|
+-------------+----+-----+---------+
only showing top 20 rows

In [132]:
df_pyspark_arg.select(concat(lit("Brand Model ")
                                      ,df_pyspark_arg["Brand"], lit(" "),
                                     df_pyspark_arg["Model"]).alias("Brand Model")).show(truncate=False)

+---------------------------------+
|Brand Model                      |
+---------------------------------+
|Brand Model Toyota Corolla Cross |
|Brand Model Jeep Compass         |
|Brand Model Jeep Compass         |
|Brand Model Citroën C4 Cactus    |
|Brand Model Toyota Corolla       |
|Brand Model Jeep Compass         |
|Brand Model Kia Sorento          |
|Brand Model Mercedes-Benz Clase C|
|Brand Model BMW 220              |
|Brand Model Volkswagen T-Cross   |
|Brand Model Mercedes-Benz Clase A|
|Brand Model Mercedes-Benz Clase A|
|Brand Model Renault Sandero      |
|Brand Model Volkswagen Polo      |
|Brand Model BMW Serie 1          |
|Brand Model Ford Ecosport        |
|Brand Model Chevrolet Trailblazer|
|Brand Model Toyota Etios         |
|Brand Model Renault Clio         |
|Brand Model Toyota RAV4          |
+---------------------------------+
only showing top 20 rows

In [134]:
Min = df_pyspark_argSELECTCol.agg(min("Money USD")).first()[0]

In [135]:
Max = df_pyspark_argSELECTCol.agg(max("Money USD")).first()[0]

In [136]:
Max

772146

In [140]:
MinMoneyUSD = df_pyspark_argSELECTCol.filter(df_pyspark_argSELECTCol["Money USD"] == Min )

In [141]:
MaxMoneyUSD = df_pyspark_argSELECTCol.filter(df_pyspark_argSELECTCol["Money USD"] == Max )

In [145]:
UnionMaxMinMoneyUSD =MaxMoneyUSD.union(MinMoneyUSD)

In [146]:
UnionMaxMinMoneyUSD.show()

+----------+---------+----+-----+---------+
|     Brand|    Model|Year|Color|Money USD|
+----------+---------+----+-----+---------+
|Volkswagen|   Amarok|2022|White|   772146|
|Volkswagen|Gol Trend|2013| Gray|     8000|
+----------+---------+----+-----+---------+

In [153]:
windowSpec = Window.orderBy(col("Money USD").desc())

RowNumDf_pyspark_argSELECTCol = df_pyspark_argSELECTCol.withColumn("RN", row_number().over(windowSpec))
RowNumDf_pyspark_argSELECTCol.show()

+----------+---------------+----+-----+---------+---+
|     Brand|          Model|Year|Color|Money USD| RN|
+----------+---------------+----+-----+---------+---+
|Volkswagen|         Amarok|2022|White|   772146|  1|
| Chevrolet|    Trailblazer|2021| Gray|   753294|  2|
|    Toyota|  Corolla Cross|2022|Black|   674460|  3|
|    Toyota|          Hilux|2019|White|   674406|  4|
|    Toyota|          Hilux|2019| Gray|   669600|  5|
|       RAM|           1500|2017| Gray|   647454|  6|
|    Toyota|          Hilux|2019| Gray|   642600|  7|
|    Toyota|          Hilux|2019| Gray|   642600|  8|
|Volkswagen|           Taos|2022| Gray|   642060|  9|
|      Ford|         Ranger|2021| Gray|   639900| 10|
|      Ford|      Territory|2022|White|   615600| 11|
|    Toyota|  Corolla Cross|2022|  Red|   609660| 12|
|      Ford|      Territory|2022|Black|   609660| 13|
|    Toyota|          Hilux|2021| Gray|   604800| 14|
|Volkswagen|           Golf|2019|White|   604530| 15|
|Volkswagen|Tiguan Allspace|2021| Gray|   588600| 16|
|Volkswagen|Tiguan Allspace|2021| Gray|   588600| 17|
|Volkswagen|Tiguan Allspace|2021| Gray|   588600| 18|
|Volkswagen|Tiguan Allspace|2021| Gray|   588600| 19|
|      Jeep|        Compass|2022|White|   585900| 20|
+----------+---------------+----+-----+---------+---+
only showing top 20 rows

In [154]:
windowSpec = Window.partitionBy(col("Brand")).orderBy(col("Money USD").desc())

RowNumDf_pyspark_argSELECTCol = df_pyspark_argSELECTCol.withColumn("RN", row_number().over(windowSpec))
RowNumDf_pyspark_argSELECTCol.show()

+-----+------------+----+-------------+---------+---+
|Brand|       Model|Year|        Color|Money USD| RN|
+-----+------------+----+-------------+---------+---+
| Audi|    R8 Coupé|2020|         Blue|   430000|  1|
| Audi|          Q5|2013|        White|   361800|  2|
| Audi|          A1|2016|         Gray|   350454|  3|
| Audi|A3 Sportback|2011|        White|   237054|  4|
| Audi|    R8 Coupé|2011|        White|   235000|  5|
| Audi|          A4|2011|         Gray|   215454|  6|
| Audi|          S3|2018|         Blue|    68000|  7|
| Audi|          A1|2011|        White|    14900|  8|
|  BMW|     Serie 3|2009|         Gray|   295920|  1|
|  BMW|     Serie 1|2008|         Gray|   162000|  2|
|  BMW|     Serie M|2017|         Gray|   115700|  3|
|  BMW|     Serie 4|2022|        Black|    95000|  4|
|  BMW|     Serie 2|2021|         Blue|    90000|  5|
|  BMW|     Serie 2|2021|    Celestial|    89990|  6|
|  BMW|     Serie 2|2021|         Blue|    79000|  7|
|  BMW|     Serie 1|2020|        Black|    41900|  8|
|  BMW|         220|2016|        White|    35500|  9|
|  BMW|     Serie 3|2008|        Black|    24800| 10|
|  BMW|          X5|2000|Not available|    16000| 11|
|  BMW|     Serie 3|2008|         Gray|    14500| 12|
+-----+------------+----+-------------+---------+---+
only showing top 20 rows

In [160]:
windowSpec = Window.partitionBy(col("Brand"))

AGGandOVERpyspark_argSELECTCol = df_pyspark_argSELECTCol.withColumn("Total Money USD by Brand"
                                 ,sum(df_pyspark_argSELECTCol["Money USD"]).over(windowSpec))

AGGandOVERpyspark_argSELECTCol = AGGandOVERpyspark_argSELECTCol.select(["Brand","Money USD","Total Money USD by Brand"])

AGGandOVERpyspark_argSELECTColDIST = AGGandOVERpyspark_argSELECTCol.select(["Brand","Total Money USD by Brand"])

AGGandOVERpyspark_argSELECTCol.show()
AGGandOVERpyspark_argSELECTColDIST.distinct().show()

+-----+---------+------------------------+
|Brand|Money USD|Total Money USD by Brand|
+-----+---------+------------------------+
| Audi|    14900|                 1912662|
| Audi|   361800|                 1912662|
| Audi|   350454|                 1912662|
| Audi|   237054|                 1912662|
| Audi|   215454|                 1912662|
| Audi|    68000|                 1912662|
| Audi|   235000|                 1912662|
| Audi|   430000|                 1912662|
|  BMW|    35500|                 1072810|
|  BMW|    41900|                 1072810|
|  BMW|   115700|                 1072810|
|  BMW|    16000|                 1072810|
|  BMW|    95000|                 1072810|
|  BMW|    12500|                 1072810|
|  BMW|    89990|                 1072810|
|  BMW|   295920|                 1072810|
|  BMW|   162000|                 1072810|
|  BMW|    79000|                 1072810|
|  BMW|    90000|                 1072810|
|  BMW|    24800|                 1072810|
+-----+---------+------------------------+
only showing top 20 rows

+-------------+------------------------+
|        Brand|Total Money USD by Brand|
+-------------+------------------------+
|         Audi|                 1912662|
|          BMW|                 1072810|
|         Baic|                  312120|
|        Chery|                  178200|
|    Chevrolet|                10330555|
|      Citroën|                 5882183|
|           DS|                 1118868|
|        Dodge|                 1594620|
|         Fiat|                 4184509|
|         Ford|                13830047|
|        Honda|                 4507882|
|      Hyundai|                 2271208|
|         Jeep|                 5553326|
|          Kia|                  362360|
|Mercedes-Benz|                 1343232|
|         Mini|                   34500|
|   Mitsubishi|                  363959|
|       Nissan|                 1900248|
|      Peugeot|                 9400690|
|      Porsche|                   79900|
+-------------+------------------------+
only showing top 20 rows

In [163]:
df_pyspark_argSELECTColLAGLEAD =  df_pyspark_argSELECTCol.groupBy("Year").agg(sum(df_pyspark_argSELECTCol["Money USD"])
                                     .alias("Money"))
df_pyspark_argSELECTColLAGLEAD = df_pyspark_argSELECTColLAGLEAD.select(df_pyspark_argSELECTColLAGLEAD['Year'],
                                                                      df_pyspark_argSELECTColLAGLEAD['Money'],
                                                                      lag("Money").over(Window.orderBy("Year"))
                                                                      .alias("PreviousYearMoney"),
                                                                      lead("Money").over(Window.orderBy("Year"))
                                                                       .alias("NextYearMoney"))
df_pyspark_argSELECTColLAGLEAD.show()

+----+--------+-----------------+-------------+
|Year|   Money|PreviousYearMoney|NextYearMoney|
+----+--------+-----------------+-------------+
|1995|   10000|             null|       105300|
|1996|  105300|            10000|        16300|
|1997|   16300|           105300|        16000|
|2000|   16000|            16300|       170100|
|2007|  170100|            16000|       297899|
|2008|  297899|           170100|       849664|
|2009|  849664|           297899|       727740|
|2010|  727740|           849664|      3103635|
|2011| 3103635|           727740|      2314229|
|2012| 2314229|          3103635|      4986467|
|2013| 4986467|          2314229|      6312345|
|2014| 6312345|          4986467|      5603557|
|2015| 5603557|          6312345|      9935214|
|2016| 9935214|          5603557|     17585897|
|2017|17585897|          9935214|     16708834|
|2018|16708834|         17585897|     16898489|
|2019|16898489|         16708834|      7126422|
|2020| 7126422|         16898489|     10008256|
|2021|10008256|          7126422|     10292076|
|2022|10292076|         10008256|         null|
+----+--------+-----------------+-------------+

In [165]:
cte  = df_pyspark_argSELECTCol.select("*").sort(desc("Money USD")).limit(5)
cte.show()

+----------+-------------+----+-----+---------+
|     Brand|        Model|Year|Color|Money USD|
+----------+-------------+----+-----+---------+
|Volkswagen|       Amarok|2022|White|   772146|
| Chevrolet|  Trailblazer|2021| Gray|   753294|
|    Toyota|Corolla Cross|2022|Black|   674460|
|    Toyota|        Hilux|2019|White|   674406|
|    Toyota|        Hilux|2019| Gray|   669600|
+----------+-------------+----+-----+---------+

In [ ]:
## Filtering NOT IN and Subquery , subquery with filtering -except intersect, join 
## using function from course

### df_pyspark_nig

In [166]:
df_pyspark_nig.show()

+-------------+----+-------------+----------+----------+--------+---------+--------+--------+-----------------+
|        Brand|Year|    Condition|Kilometres|EngineSize|FuelType|     Gear|   Money|BodyType|        Money USD|
+-------------+----+-------------+----------+----------+--------+---------+--------+--------+-----------------+
|Mercedes-Benz|2013| Foreign Used|    104536|      3500|  Petrol|Automatic|14352000|     SUV|          31574.4|
|        Honda|2011| Foreign Used|      3621|      3500|  Petrol|Automatic| 6240000|     SUV|          13728.0|
|       Toyota|2007|Nigerian Used|    223493|      3500|  Hybrid|Automatic| 2100000|     SUV|           4620.0|
|       Toyota|2003|Nigerian Used|    367531|      4000|  Petrol|Automatic| 2137500|     SUV|           4702.5|
|        Lexus|2007| Foreign Used|    104138|      3500|  Petrol|Automatic| 5928000|     SUV|          13041.6|
|      Lincoln|2019|Nigerian Used|     35976|      2000|  Petrol|Automatic|17850000|     SUV|          39270.0|
|   Land Rover|2008|Nigerian Used|    178780|      4700|  Petrol|Automatic| 3150000|     SUV|           6930.0|
|        Lexus|2007|Nigerian Used|    220726|      3500|  Petrol|Automatic| 4680000|     SUV|          10296.0|
|        Mazda|2010|Nigerian Used|    322717|      2500|  Petrol|Automatic| 2100000|     SUV|           4620.0|
|        Lexus|2008| Foreign Used|    149092|      3500|  Petrol|Automatic| 5145000|     SUV|          11319.0|
|      Hyundai|2010|Nigerian Used|    262797|      3800|  Petrol|Automatic| 2677500|     SUV|           5890.5|
|       Toyota|2001|Nigerian Used|    119510|      3000|  Petrol|Automatic| 1352000|     SUV|           2974.4|
|Mercedes-Benz|2007|Nigerian Used|      1966|        35|  Petrol|Automatic| 5720000|     SUV|          12584.0|
|       Toyota|2002| Foreign Used|    125606|      2000|  Petrol|Automatic| 3255000|     SUV|           7161.0|
|          Kia|2013|Nigerian Used|    134013|      3800|  Petrol|Automatic| 4410000|     SUV|           9702.0|
|        Honda|2003|Nigerian Used|    175567|      3500|  Petrol|Automatic| 1612000|     SUV|           3546.4|
|       Nissan|2009|Nigerian Used|    213292|      3500|  Petrol|      CVT| 1575000|     SUV|           3465.0|
|        Lexus|2005|Nigerian Used|    196345|      3300|  Petrol|Automatic| 3432000|     SUV|7550.400000000001|
|       Toyota|2007|Nigerian Used|    213548|      3500|  Petrol|Automatic| 3328000|     SUV|           7321.6|
|       Toyota|2009|Nigerian Used|     94618|      3500|  Petrol|Automatic| 4725000|     SUV|          10395.0|
+-------------+----+-------------+----------+----------+--------+---------+--------+--------+-----------------+
only showing top 20 rows

In [ ]:
# -> https://pl.seequality.net/pyspark-cheatsheet-with-comparison-to-sql/ take info from it and put it, then go to my courses from job
# and use these functions from this course here

#put brand year and money usd, then select most expensive cars, then doing windows partition and take the first place ,
# then make unuion from all dataframe with one
# adding to state countries and more information to usa by join etc
# adding the country of the production of brand (by join and so on)
# using all functions and transformation (advanced) from my links
# using case when or other functions to translate into english!
# using apply map operation
# using advanced sql functions windows frame and so on here
#Using loop over dataframe / transform / and apply