# Starting Spark Session

In [1]:
from pyspark.sql import SparkSession

# Creating a Spark Session called Cars

In [2]:
spark = SparkSession.builder.appName('Cars').getOrCreate()

In [3]:
spark

# Reading a file of CSV format into Spark DataFrame

In [4]:
pathArgCars = r'D:\My commercial projects\PySpark\Project 1 PySpark\Car Prices\argentina_cars.csv'
pathNigCars = r'D:\My commercial projects\PySpark\Project 1 PySpark\Car Prices\nigerian_cars.csv'
pathPolCars = r'D:\My commercial projects\PySpark\Project 1 PySpark\Car Prices\poland_cars.csv'
pathUsaCars = r'D:\My commercial projects\PySpark\Project 1 PySpark\Car Prices\usa_cars.csv'

In [7]:
df_pyspark_arg =spark.read.csv(pathArgCars,header=True,inferSchema=True)
df_pyspark_nig =  spark.read.csv(pathNigCars,header=True,inferSchema=True)
df_pyspark_pol = spark.read.csv(pathPolCars,header=True,inferSchema=True)
df_pyspark_usa = spark.read.csv(pathUsaCars,header=True,inferSchema=True)

In [6]:
df_pyspark_arg.show()

+--------+-------------+-------------+----+-----------+---------+----+----------+-------------+---------+----------+--------+
|   money|        brand|        model|year|      color|fuel_type|door|      gear|        motor|body_type|kilometres|currency|
+--------+-------------+-------------+----+-----------+---------+----+----------+-------------+---------+----------+--------+
|10350000|       Toyota|Corolla Cross|2022|   Plateado|    Nafta| 5.0|Automática|         null|      SUV|       500|   pesos|
|10850000|         Jeep|      Compass|2022|     Blanco|    Nafta| 5.0|Automática|          2.4|      SUV|       500|   pesos|
|   35500|         Jeep|      Compass|2022|Gris oscuro|    Nafta| 5.0|Automática|          2.4|      SUV|       500| dólares|
|   19000|      Citroën|    C4 Cactus|2022|Gris oscuro|    Nafta| 5.0|Automática|         null|      SUV|       550| dólares|
| 5800000|       Toyota|      Corolla|2019|       Gris|    Nafta| 4.0|    Manual|          1.8|    Sedán|      9000|   pesos|
|   34500|         Jeep|      Compass|2022|      Negro|    Nafta| 5.0|Automática|          1.3|      SUV|     10500| dólares|
|   25000|          Kia|      Sorento|2014|      Negro|   Diésel| 5.0|Automática|          2.2|      SUV|    156000| dólares|
|   12300|Mercedes-Benz|      Clase C|2008|   Plateado|    Nafta| 4.0|Automática|          1.8|    Sedán|    174000| dólares|
|   35500|          BMW|          220|2016|     Blanco|    Nafta| 2.0|Automática|        TURBO|    Coupé|     66000| dólares|
| 6800000|   Volkswagen|      T-Cross|2019|    Naranja|    Nafta| 5.0|Automática|1.6 MSI Nafta|      SUV|     35000|   pesos|
|   38500|Mercedes-Benz|      Clase A|2017|   Plateado|    Nafta| 5.0|Automática|            3|Hatchback|     55394| dólares|
|   20500|Mercedes-Benz|      Clase A|2013|     Blanco|    Nafta| 5.0|    Manual|          1.6|Hatchback|    162080| dólares|
| 3500000|      Renault|      Sandero|2022|   Plateado|    Nafta| 5.0|    Manual|         null|    Sedán|    111111|   pesos|
| 5990000|   Volkswagen|         Polo|2022|     Blanco|    Nafta| 5.0|    Manual|          1.6|Hatchback|    111111|   pesos|
|   41900|          BMW|      Serie 1|2020|      Negro|    Nafta| 5.0|Automática|         null|Hatchback|     34800| dólares|
| 2100000|         Ford|     Ecosport|2011|      Beige|    Nafta| 4.0|    Manual|          1.6|      SUV|    101000|   pesos|
|   38500|    Chevrolet|  Trailblazer|2019|       Gris|   Diésel| 5.0|Automática|         null|      SUV|     73000| dólares|
| 2940000|       Toyota|        Etios|2015|     Blanco|    Nafta| 5.0|    Manual|          1.5|Hatchback|     83000|   pesos|
| 2050000|      Renault|         Clio|2014|       Gris|    Nafta| 5.0|    Manual|          1.2|Hatchback|     99000|   pesos|
| 4120000|       Toyota|         RAV4|2011|       Gris|    Nafta| 5.0|Automática|          2.4|      SUV|    180000|   pesos|
+--------+-------------+-------------+----+-----------+---------+----+----------+-------------+---------+----------+--------+
only showing top 20 rows

In [8]:
df_pyspark_nig.show()

+---+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|_c0|         Make|Year of manufacture|    Condition|Mileage|Engine Size|  Fuel|Transmission|     Price|Build|
+---+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
|  0|       Toyota|               2007|Nigerian Used| 166418|       2400|Petrol|   Automatic| 3,120,000| null|
|  1|        Lexus|               null|         null| 138024|       null|  null|   Automatic| 5,834,000| null|
|  2|Mercedes-Benz|               2008|Nigerian Used| 376807|       3000|Petrol|   Automatic| 3,640,000| null|
|  3|        Lexus|               null|         null| 213362|       null|  null|   Automatic| 3,594,000| null|
|  4|Mercedes-Benz|               null|         null| 106199|       null|  null|   Automatic| 8,410,000| null|
|  5|Mercedes-Benz|               null|         null|  87660|       null|  null|   Automatic| 5,554,000| null|
|  6|        Lexus|               null|         null| 191411|       null|  null|   Automatic| 3,706,000| null|
|  7|        Lexus|               null|         null|  59092|       null|  null|   Automatic| 8,410,000| null|
|  8|Mercedes-Benz|               null|         null|  89423|       null|  null|   Automatic| 6,506,000| null|
|  9|        Lexus|               null|         null| 184827|       null|  null|   Automatic| 4,000,000| null|
| 10|        Lexus|               null|         null|  42433|       null|  null|   Automatic| 8,970,000| null|
| 11|        Lexus|               null|         null| 116138|       null|  null|   Automatic| 3,034,000| null|
| 12|        Lexus|               null|         null| 167583|       null|  null|   Automatic| 3,818,000| null|
| 13|        Lexus|               null|         null| 240934|       null|  null|   Automatic| 3,930,000| null|
| 14|         Fiat|               null|         null|    114|       null|  null|   Automatic| 8,500,000| null|
| 15|         Fiat|               null|         null|     54|       null|  null|      Manual|12,500,000| null|
| 16|        Lexus|               null|         null|  79740|       null|  null|   Automatic| 5,274,000| null|
| 17|Mercedes-Benz|               null|         null| 338145|       null|  null|   Automatic| 8,060,000| null|
| 18|        Lexus|               null|         null| 174545|       null|  null|   Automatic| 6,506,000| null|
| 19|   Land Rover|               null|         null|  63296|       null|  null|   Automatic| 6,910,000| null|
+---+-------------+-------------------+-------------+-------+-----------+------+------------+----------+-----+
only showing top 20 rows

In [9]:
df_pyspark_pol.show()

+---+----+-----+---------------+----+-------+----------+------+---------------+-------------------+-----+
|_c0|mark|model|generation_name|year|mileage|vol_engine|  fuel|           city|           province|price|
+---+----+-----+---------------+----+-------+----------+------+---------------+-------------------+-----+
|  0|opel|combo|     gen-d-2011|2015| 139568|      1248|Diesel|          Janki|        Mazowieckie|35900|
|  1|opel|combo|     gen-d-2011|2018|  31991|      1499|Diesel|       Katowice|            Śląskie|78501|
|  2|opel|combo|     gen-d-2011|2015| 278437|      1598|Diesel|          Brzeg|           Opolskie|27000|
|  3|opel|combo|     gen-d-2011|2016|  47600|      1248|Diesel|      Korfantów|           Opolskie|30800|
|  4|opel|combo|     gen-d-2011|2014| 103000|      1400|   CNG|Tarnowskie Góry|            Śląskie|35900|
|  5|opel|combo|     gen-d-2011|2017| 121203|      1598|Diesel|       Warszawa|        Mazowieckie|51900|
|  6|opel|combo|     gen-d-2011|2017| 119965|      1248|Diesel|        Wrocław|       Dolnośląskie|44700|
|  7|opel|combo|     gen-d-2011|2016| 201658|      1248|Diesel|         Lublin|          Lubelskie|29000|
|  8|opel|combo|     gen-d-2011|2014| 178666|      1598|Diesel|         Złotów|      Wielkopolskie|28900|
|  9|opel|combo|     gen-d-2011|2015| 113000|      1248|Diesel|       Strzyżew|        Mazowieckie|34900|
| 10|opel|combo|     gen-d-2011|2012| 237000|      1598|Diesel|         Elbląg|Warmińsko-mazurskie|24800|
| 11|opel|combo|     gen-d-2011|2017| 137000|      1248|Diesel|       Warszawa|        Mazowieckie|39900|
| 12|opel|combo|     gen-d-2011|2016| 154000|      1248|Diesel|      Sosnowiec|            Śląskie|35900|
| 13|opel|combo|     gen-d-2011|2017|  59339|      1248|Diesel|        Wrocław|       Dolnośląskie|55300|
| 14|opel|combo|     gen-d-2011|2016| 137445|      1598|Diesel|          Opole|           Opolskie|34700|
| 15|opel|combo|     gen-d-2011|2016| 141859|      1248|Diesel|       Katowice|            Śląskie|39900|
| 16|opel|combo|     gen-d-2011|2012| 195000|      1598|Diesel|          Radom|        Mazowieckie|25900|
| 17|opel|combo|     gen-d-2011|2015| 180000|      1598|Diesel|       Chmieleń|       Dolnośląskie|32900|
| 18|opel|combo|     gen-d-2011|2018| 107515|      1499|Diesel|      Piaseczno|        Mazowieckie|62000|
| 19|opel|combo|     gen-d-2011|2017| 149000|      1598|Diesel|  Góra Kalwaria|        Mazowieckie|39852|
+---+----+-----+---------------+----+-------+----------+------+---------------+-------------------+-----+
only showing top 20 rows

In [19]:
df_pyspark_usa.show(20,5)

+----+-----+-----+-----+-----+------------+-----+-----+---------+--------+-----+--------+------+-----+------------+--------+
|year| make|model| trim| body|transmission|  vin|state|condition|odometer|color|interior|seller|  mmr|sellingprice|saledate|
+----+-----+-----+-----+-----+------------+-----+-----+---------+--------+-----+--------+------+-----+------------+--------+
|2015|  Kia|So...|   LX|  SUV|       au...|5x...|   ca|        5|   16...|white|   black| ki...|20500|       21500|   Tu...|
|2015|  Kia|So...|   LX|  SUV|       au...|5x...|   ca|        5|   93...|white|   beige| ki...|20800|       21500|   Tu...|
|2014|  BMW|3 ...|32...|Sedan|       au...|wb...|   ca|      4.5|   13...| gray|   black| fi...|31900|       30000|   Th...|
|2015|Volvo|  S60|   T5|Sedan|       au...|yv...|   ca|      4.1|   14...|white|   black| vo...|27500|       27750|   Th...|
|2014|  BMW|6 ...| 650i|Sedan|       au...|wb...|   ca|      4.3|   26...| gray|   black| fi...|66000|       67000|   Th...|
|2015|Ni...|Al...|2.5 S|Sedan|       au...|1n...|   ca|        1|   55...| gray|   black| en...|15350|       10900|   Tu...|
|2014|  BMW|   M5| Base|Sedan|       au...|wb...|   ca|      3.4|   14...|black|   black| th...|69000|       65000|   We...|
|2014|Ch...|Cruze|  1LT|Sedan|       au...|1g...|   ca|        2|   28...|black|   black| en...|11900|        9800|   Tu...|
|2014| Audi|   A4|2....|Sedan|       au...|wa...|   ca|      4.2|   95...|white|   black| au...|32100|       32250|   Th...|
|2014|Ch...|Ca...|   LT|Co...|       au...|2g...|   ca|        3|   48...|  red|   black| d/...|26300|       17500|   Tu...|
|2014| Audi|   A6|3....|Sedan|       au...|wa...|   ca|      4.8|   14...|black|   black| de...|47300|       49750|   Tu...|
|2015|  Kia|Op...|   LX|Sedan|       au...|5x...|   ca|      4.8|   20...|  red|     tan| ki...|15150|       17700|   Tu...|
|2015| Ford|Fu...|   SE|Sedan|       au...|3f...|   ca|        2|   55...|white|   beige| en...|15350|       12000|   Tu...|
|2015|  Kia|So...|   LX|  SUV|       au...|5x...|   ca|        5|   14...|si...|   black| ki...|20600|       21500|   Tu...|
|2014|Ch...|Cruze|  2LT|Sedan|       au...|1g...|   ca|     null|   15...| blue|   black| av...|13900|       10600|   Tu...|
|2015|Ni...|Al...|2.5 S|Sedan|       au...|1n...|   ca|        2|   11...|black|   black| en...|14750|       14100|   Tu...|
|2015|Hy...|So...|   SE|Sedan|        null|5n...|   ca|     null|   83...|  red|       —| av...|15200|        4200|   Tu...|
|2014| Audi|   Q5|2....|  SUV|       au...|wa...|   ca|      4.9|   79...|white|   black| au...|37100|       40000|   Th...|
|2014|Ch...|Ca...|   LS|Coupe|       au...|2g...|   ca|      1.7|   13...|black|   black| we...|17750|       17000|   Tu...|
|2014|  BMW|6 ...| 650i|Co...|       au...|wb...|   ca|      3.4|   88...|black|   black| th...|68000|       67200|   We...|
+----+-----+-----+-----+-----+------------+-----+-----+---------+--------+-----+--------+------+-----+------------+--------+
only showing top 20 rows

# Exploratory Data, Data Cleaning, Data Wrangling

## df_pyspark_arg

In [ ]:
# adding to state countries and more information to usa by join etc
# adding the country of the production of brand (by join and so on)
# using all functions and transformation (advanced) from my links